<h2 class="govuk-heading-m">Currency: Pound sterling, GBP (£)</h2>
<div class="govuk-summary-card govuk-!-margin-bottom-4">
  <div class="govuk-summary-card_heading govuk-!-padding-top-4 govuk-!-padding-bottom-4 govuk-!-padding-right-3 govuk-!-padding-left-3" style="display: flex; justify-content: space-between; align-items: center">
    <p class="govuk-!-font-weight-bold govuk-!-margin-0">
      Ordinary
    </p>
  </div>
  <div style="display: flex" class="govuk-!-padding-1">
    <dl style="display: block" class="govuk-summary-list govuk-!-margin-3">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Number of shares
        </dt>
        <dd class="govuk-summary-list__value">
          217,380
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Value of each share
        </dt>
        <dd class="govuk-summary-list__value">
          £0.000001
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Total value
        </dt>
        <dd class="govuk-summary-list__value" style="direction:rtl; text-align: left">
          £0.21738
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Rights attached to this share type
        </dt>
        <dd class="govuk-summary-list__value rtl">

          Each share has full rights in the company with respect to voting, dividends and distributions
        </dd>
      </div>

    </dl>
  </div>
</div>

<div class="govuk-summary-card govuk-!-margin-bottom-4">
  <div class="govuk-summary-card_heading govuk-!-padding-top-4 govuk-!-padding-bottom-4 govuk-!-padding-right-3 govuk-!-padding-left-3" style="display: flex; justify-content: space-between; align-items: center">
    <p class="govuk-!-font-weight-bold govuk-!-margin-0">A3 Preferred
    </p>

  </div>
  <div style="display: flex" class="govuk-!-padding-1">
    <dl style="display: block" class="govuk-summary-list govuk-!-margin-3">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Total number of shares
        </dt>
        <dd class="govuk-summary-list__value">
          30,190
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Value of each share
        </dt>
        <dd class="govuk-summary-list__value">
          £0.000001
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Total value
        </dt>
        <dd class="govuk-summary-list__value" style="direction:rtl; text-align: left">

          £0.03019
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Rights attached to this share type
        </dt>
        <dd class="govuk-summary-list__value rtl">

          Each share has full rights in the company with respect to voting, dividends and distributions
        </dd>
      </div>

    </dl>
  </div>
</div>

<div class="govuk-summary-card govuk-!-margin-bottom-4">
  <div class="govuk-summary-card_heading govuk-!-padding-top-4 govuk-!-padding-bottom-4 govuk-!-padding-right-3 govuk-!-padding-left-3" style="display: flex; justify-content: space-between; align-items: center">
    <p class="govuk-!-font-weight-bold govuk-!-margin-0">Ordinary A
    </p>

  </div>
  <div style="display: flex" class="govuk-!-padding-1">
    <dl style="display: block" class="govuk-summary-list govuk-!-margin-3">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Total number of shares
        </dt>
        <dd class="govuk-summary-list__value">
          337,453
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Value of each share
        </dt>
        <dd class="govuk-summary-list__value">
          £0.000001
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Total value
        </dt>
        <dd class="govuk-summary-list__value" style="direction:rtl; text-align: left">

          £0.337453
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Rights attached to this share type
        </dt>
        <dd class="govuk-summary-list__value rtl">

          Each share has full rights in the company with respect to voting, dividends and distributions
        </dd>
      </div>

    </dl>
  </div>
</div>
<div class="govuk-summary-card govuk-!-margin-bottom-4">
  <div class="govuk-summary-card_heading govuk-!-padding-top-4 govuk-!-padding-bottom-4 govuk-!-padding-right-3 govuk-!-padding-left-3" style="display: flex; justify-content: space-between; align-items: center">
    <p class="govuk-!-font-weight-bold govuk-!-margin-0">A4 Preferred
    </p>

  </div>
  <div style="display: flex" class="govuk-!-padding-1">
    <dl style="display: block" class="govuk-summary-list govuk-!-margin-3">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Total number of shares
        </dt>
        <dd class="govuk-summary-list__value">
          4,566
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Value of each share
        </dt>
        <dd class="govuk-summary-list__value">
          £0.000001
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Total value
        </dt>
        <dd class="govuk-summary-list__value" style="direction:rtl; text-align: left">

          £0.004566
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Rights attached to this share type
        </dt>
        <dd class="govuk-summary-list__value rtl">

          Each share has full rights in the company with respect to voting, dividends and distributions
        </dd>
      </div>

    </dl>
  </div>
</div>

<div class="govuk-summary-card govuk-!-margin-bottom-4">
  <div class="govuk-summary-card_heading govuk-!-padding-top-4 govuk-!-padding-bottom-4 govuk-!-padding-right-3 govuk-!-padding-left-3" style="display: flex; justify-content: space-between; align-items: center">
    <p class="govuk-!-font-weight-bold govuk-!-margin-0">A5 Preferred
    </p>

  </div>
  <div style="display: flex" class="govuk-!-padding-1">
    <dl style="display: block" class="govuk-summary-list govuk-!-margin-3">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Total number of shares
        </dt>
        <dd class="govuk-summary-list__value">
          133,544
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Value of each share
        </dt>
        <dd class="govuk-summary-list__value">
          £0.000001
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Total value
        </dt>
        <dd class="govuk-summary-list__value" style="direction:rtl; text-align: left">

          £0.133544
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Rights attached to this share type
        </dt>
        <dd class="govuk-summary-list__value rtl">

          Each share has full rights in the company with respect to voting, dividends and distributions
        </dd>
      </div>

    </dl>
  </div>
</div>

<div class="govuk-summary-card govuk-!-margin-bottom-4">
  <div class="govuk-summary-card_heading govuk-!-padding-top-4 govuk-!-padding-bottom-4 govuk-!-padding-right-3 govuk-!-padding-left-3" style="display: flex; justify-content: space-between; align-items: center">
    <p class="govuk-!-font-weight-bold govuk-!-margin-0">B2 Preferred
    </p>

  </div>
  <div style="display: flex" class="govuk-!-padding-1">
    <dl style="display: block" class="govuk-summary-list govuk-!-margin-3">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Total number of shares
        </dt>
        <dd class="govuk-summary-list__value">
          924,130
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Value of each share
        </dt>
        <dd class="govuk-summary-list__value">
          £0.000001
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Total value
        </dt>
        <dd class="govuk-summary-list__value" style="direction:rtl; text-align: left">

          £0.924130
        </dd>
      </div>
      <div class="govuk-grid-row">
        <p>
          {{ govukDetails({
  summaryText: "Rights attached to shares",
  text: "B ORDINARY FCLMRM UF PS 00 EE*H I VOTING THE B ORDINARY SHARES ENTITLE THEIR HOLDER TO VOTE AT GENERAL MEETINGS (ON A SHOW OF HANDS OR A POLL) AND VIA WRITTEN RESOLUTIONS ON TNE BASIS OT ONE VOTE PER A ORDINARY SHARE HELD DIVIDONDC DIVIDENDS MAY BE
  DECLARED ON B ORDINARY SHARES AND IF SO IN ACCORDANCE WITH THE FOLLOWING ORDER OF PRIORITY: (A) FIRST, AT ANY TIME WHEN THE SHAREHOLDERS HOLDING THE A ORDINARY SHARES, THE B ORDINARY SHARES AND THE C ORDINARY SHARES HAVE NOT RECEIVED, N AGGREGATE, EN
  INDEFEASIBLE AMOUNT (AFTER ANY DEDUCTIONS OR SET OFF) FROM ALL DIVIDENDS PREVIOUSLY DECLARED OR DISTNBUTIONS PREVIOUSLY MADE BY THE COMPANY THAT RS EQUAL TO 120 PER CENT OF THE AGGREGATE AMOUNT PAID UP ON ALL THE ISSUED A ORDINARY SHARES, B ORDINARY
  SHARES AND C ORDINARY SHARES ('THE THRESHOLD AMOUNT'), ANY DIVIDEND LO BE DECLARED SHALL BE DECLARED AND PAID TO THE SHAREHOLDERS HOLDING THE A ORDINARY SHARES. 8 ORDINARY SHAROS AND THE C ORDINARY SHARES ACCORDING TO THE AMOUNTS PAID UP ON SUCH
  SHARES AS IF ALL SUCH SHARES WERE PART OF THE SAME CLASS AND PRO RATA TO THEIR RESPECTIVE HOLDINGS OF SHARES TO THE EXTENT REQUIRED SO THAT THE HOLDERS OF THE A ORDINARY SHARES, THE 8 ORDINARY SHARES AND THE C ORDINARY SHARES HAVE RECEIVED IN
  AGGREGATE, AN INDEFEASIBLE AMOUNT (AFTER DEDUCTIONS OR SET OFF) ECUAL TO THE THRESHOLD AMOUNT FROM THAT DIVIDEND AND ALL DIVIRIPRWI«; PREVIOUSLY DECLARED OR DISTRIBUTIONS PREVIOUSLY MADE; (B) SECOND AFTER PAYMENT OF DIVIDENDS PURSUANT TO ARTICLE
  16.2.4(A) AL ANY TIME WHEN THE SHAREHOLDERS HOLDING THE A ORDINARY SHARES. B ORDINARY SHARES AND THE C ORDINARY SHARES HAVE NOT RECEIVED, IN AGGREGATE, AN INDEFEASIBLE AMOUNT (AFTER ANY DEDUCTIONS OR SET OFF) FROM ALL DIVIDENDS PREVIOUSLY DECLARED OR
  DISTRIBUTIONS PREVIOUSLY MADE BY (HE COMPANY THAT IS EQUAL TO 443 PER CENT OF THE AGGREGATE AMOUNT PAID UP ON ALL IHE A ORDINARY SHORES AND B ORDINARY SHARES ('THE INITIAL RETURN'), ANY FURTHER DIVIDEND TO BE DOCLARED SHALL BE PAID TO THE
  SHAREHOLDERS HOLDING THE A ORDINARY SHARES, THE B ORDINARY SHARES AND THE C ORDINARY SHARES IN IHE FOLLOWING PROPORTIONS (I) THE A RETURN PERCENTAGE TO THE SHAREHOLDERS HOLDING THE A ORDINARY SHAROS TO BE SPLIT AMONG SUCH SHAREHOLDERS PRO RATA
  ACCORDING TO THE NUMBER OF A ORDINARY SHARES HELD BY EACH OL THEM: AND (II) THE B RETURN PERCENTAGE TO THE SHAREHOLDERS HOLDING THO B ORDINARY SHARES TO BE SPLIT AMONG SUCH SHAREHOLDERS PRO RATA ACCORDING TO THE NUMBER OF B ORDINARY SHARES HELD BY
  EACH OF THEM; AND (III) THE C RETURN PERCENTAGE TO THE SHAREHOLDERS HOLDING THE C ORDINARY SHARES TO BE SPLIT AMONG SUCH SHAREHOLDERS PRO RATA ACCORDING TO THE NUMBER OF C ORDMARY SHARES HELD BY THEM; AND TO THE EXTENT REQUIRED SO THAT THE HOLDERS OF
  THE A ORDINARY SNARES, THE B ORDINARY SHARES AND THE C ORDINARY SHARES HAVE RECEIVED IN AGGREGATE, AN ^DEFEASIBLE AMOUNT (AFTER ANY DEDUCTIONS OR SET OFF) EQUAL TO THE INITIAL RETURN FROM THAT DIVIDEND AND ALL DIVIDENDS PREVIOUSLY DECLARED OR
  DICTNBUTIONS PREVIOUSLY MADE (C) THIRD, AFTER PAYMENT OF DIVIDENDS PURSUANT TO ARTICLES 16 2 4(A) AND (B), ANY FURTHER DIVIDENDS SHALL BE PAID TO SHAREHO'DOS HOLDING THE A ORDINARY SHARES THE B ORDINARY SHARES AND THE C ORDINARY SHARES IN IHE
  FOLLOWING PROPORTIONS: (I) THE A2 RETURN PERCENTAGE TO THE SHAREHOLDERS HOLDING THE A ORDINARY SHARES TO BE SPLIT AMONG SUCH SHAREHOLDERS PRO RATA ACCORDING TO THE NUMBER OF A ORDINARY SHARES HELD BY EACH OF THEM; (LI) THE B2 RETURN PERCENTAGE TO THE
  SHAREHOLDERS HOLDING THE B ORDINARY SHARES TO BE SPLIT AMONG SUCH SHAREHOLDERS PRO RATA ACCORDING TO THE NUMBER OF B ORDINARY SHARES HELD BY EACH OF THEM , AND I .I) THE C2 RETURN PERCENTAGE LO THE SHAREHOLDERS HOTDNG THE C ORDNARY SHARES TO BE SPLIT
  AMONG SUCH SHAREHOLDERS PRO RATA ACCORDING TO THE NUMBER OF C ORDINARY SHARES HELD BY EACH OF THEM RETURN OF CAPITAL ON ANY RETURN OF CAPITAL, OTHER THAN LIQUIDATION, WHEN CAPITAL IS RETURNED TO THE SHAREHOLDERS BY CAPITAL REDUCTION OR OTHERWISE, THE
  ASSETS OF THE COMPANY REMAINING (OR OTHERWISE IF REQUIRED PURSUANT TO THE TERMS OF SUCH RETURN OF CAPITAL) AFTER PAYMENT OF ITS LIABILITIES, SHALL BE APPLIED (LO THE EXTENT THE COMPANY IS LAWFULLY ABLE TO DO SO) IN DISTRIBUTING THE BALANCE AMONG THE
  SHAREHOLDERS HOLDING A ORDINARY SHARES, THE B ORDINARY SHARES AND THE C ORDINARY SHARES IN ACCORDANCE WITH IHE PROVISIONS OF ARTICLE 16.2.4 AS IF SUCH DISTRIBUTION WORE A DIVIDEND DECLARED BY THE COMPANY AND AFTER TAKING IN ACCOUNT ANY DIVIDENDS OR
  OTHER DISTNBUTIONS THAT HAVE BEEN PAID OR MADE BY THE COMPANY PNOR TO THE RELEVANT RETURN OF CAPITAL DISTNBUTIONS ON LIQUIDATION ON ANY LIQUIDATION WHEN CAPITAL IS RETURNED TO THE SHAREHOLDERS, THE ASSETS OF IHE COMPANY REMAINING (OR OTHERWISE IF
  REQUIRED PURSUANT TO THE TERMS OF SUCH RETURN OF CAPITAL) AFTER PAYMENT OF ITS LIABILITIES, SHALL BE APPLIED (TO THE EXTENT THAT THE COMPANY IS LAWFULLY ABLE TO DO SO) M DISTRIBUTING THE BALANCE AMONG THE SHAREHOLDERS HOLDING A ORDINARY SHARES, B
  ORDINARY SHARES AND C ORDINARY SHARES M ACCORDANCE WITH THE PROVISIONS OF ARTICLE 16 2 4 AS RF SUCH DISTRIBUTION WERE A DIVIDEND DECLARED BY THE COMPANY AND AFTER TAKING IN ACCOUNT ANY DIVIDENDS OR OTHER DISTNBUTIONS THAT HAVE BEEN PAID OR MADE BY
  THE COMPANY PRIOR TO THE LIQUIDATION. REDEMPTION THE B ORDINARY SHARES ARE NO! REDEEMABLE"
}) }}</p>
      </div>

    </dl>
  </div>
</div>

<div class="govuk-summary-card govuk-!-margin-bottom-4">
  <div class="govuk-summary-card_heading govuk-!-padding-top-4 govuk-!-padding-bottom-4 govuk-!-padding-right-3 govuk-!-padding-left-3" style="display: flex; justify-content: space-between; align-items: center">
    <p class="govuk-!-font-weight-bold govuk-!-margin-0">Total
    </p>

  </div>
  <div style="display: flex" class="govuk-!-padding-1">
    <dl style="display: block" class="govuk-summary-list govuk-!-margin-3">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Total number of shares</dt>
        <dd class="govuk-summary-list__value">
          1,710,690
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Total value
        </dt>
        <dd class="govuk-summary-list__value">
          £1.71069 (GBP)
        </dd>
      </div>
    </div>
  </dd>
</div>