{{ govukTable({
  caption: "A Ordinary",
  captionClasses: "govuk-table__caption--m",
  firstCellIsHeader: true,

  rows: [
    [
      {
        text: "Currency"
      },
      {
        text: "Pound Sterling"
      }
    ],
    [
      {
        text: "Number of shares"
      },
      {
        text: "967,774"
      }

    ],
    [
      {
        text: "Total value	"
      },
      {
        text: "0.967774"
      }
    ],
    [
      {
        text: "Total aggregate amount unpaid, if any"
      },
      {
        text: "0"
      }
    ],
    [
      {
        text: "Prescribed particulars"
      },
      {
        html: "<p>Voting: one vote per share</p>
        <p>Dividends: each share is entitled to participate pari passu in dividend payment</p>
        <p>Capital return: each share is entitled to participate in a distribution (including on winding up)</p>
        <p>Redemption: no redemption rights</p>"
      }
    ]
  ]
}) }}

{{ govukTable({
  caption: "A1 Ordinary",
  captionClasses: "govuk-table__caption--m",
  firstCellIsHeader: true,

  rows: [
    [
      {
        text: "Currency"
      },
      {
        text: "Pound Sterling"
      }
    ],
    [
      {
        text: "Number of shares"
      },
      {
        text: "541,608"
      }

    ],
    [
      {
        text: "Total value	"
      },
      {
        text: "0.0541608"
      }
    ],
    [
      {
        text: "Total aggregate amount unpaid, if any"
      },
      {
        text: "0"
      }
    ],
    [
      {
        text: "Prescribed particulars"
      },
      {
        html: "<p>Voting: one vote per share</p>
        <p>Dividends: each share is entitled to participate pari passu in dividend payment</p>
        <p>Capital return: each share is entitled to participate in a distribution (including on winding up)</p>
        <p>Redemption: no redemption rights</p>"
      }
    ]
  ]
}) }}
{{ govukTable({
  caption: "A1 Preferred",
  captionClasses: "govuk-table__caption--m",
  firstCellIsHeader: true,

  rows: [
    [
      {
        text: "Currency"
      },
      {
        text: "Pound Sterling"
      }
    ],
    [
      {
        text: "Number of shares"
      },
      {
        text: "542,543"
      }

    ],
    [
      {
        text: "Total value	"
      },
      {
        text: "0.0542543"
      }
    ],
    [
      {
        text: "Total aggregate amount unpaid, if any"
      },
      {
        text: "0"
      }
    ],
    [
      {
        text: "Prescribed particulars"
      },
      {
        html: "<p>Voting: one vote per share</p>
        <p>Dividends: each share is entitled to participate pari passu in dividend payment</p>
        <p>Capital return: each share is entitled to participate in a distribution (including on winding up)</p>
        <p>Redemption: no redemption rights</p>"
      }
    ]
  ]
}) }}{{ govukTable({
  caption: "A2 Preferred",
  captionClasses: "govuk-table__caption--m",
  firstCellIsHeader: true,

  rows: [
    [
      {
        text: "Currency"
      },
      {
        text: "Pound Sterling"
      }
    ],
    [
      {
        text: "Number of shares"
      },
      {
        text: "217,380"
      }

    ],
    [
      {
        text: "Total value	"
      },
      {
        text: "0.21738"
      }
    ],
    [
      {
        text: "Total aggregate amount unpaid, if any"
      },
      {
        text: "0"
      }
    ],
    [
      {
        text: "Prescribed particulars"
      },
      {
        html: "<p>Voting: one vote per share</p>
        <p>Dividends: each share is entitled to participate pari passu in dividend payment</p>
        <p>Capital return: each share is entitled to participate in a distribution (including on winding up)</p>
        <p>Redemption: no redemption rights</p>"
      }
    ]
  ]
}) }}{{ govukTable({
  caption: "A3 Preferred",
  captionClasses: "govuk-table__caption--m",
  firstCellIsHeader: true,

  rows: [
    [
      {
        text: "Currency"
      },
      {
        text: "Pound Sterling"
      }
    ],
    [
      {
        text: "Number of shares"
      },
      {
        text: "30,190"
      }

    ],
    [
      {
        text: "Total value	"
      },
      {
        text: "0.03019"
      }
    ],
    [
      {
        text: "Total aggregate amount unpaid, if any"
      },
      {
        text: "0"
      }
    ],
    [
      {
        text: "Prescribed particulars"
      },
      {
        html: "<p>Voting: one vote per share</p>
        <p>Dividends: each share is entitled to participate pari passu in dividend payment</p>
        <p>Capital return: each share is entitled to participate in a distribution (including on winding up)</p>
        <p>Redemption: no redemption rights</p>"
      }
    ]
  ]
}) }}{{ govukTable({
  caption: "Ordinary",
  captionClasses: "govuk-table__caption--m",
  firstCellIsHeader: true,

  rows: [
    [
      {
        text: "Currency"
      },
      {
        text: "Pound Sterling"
      }
    ],
    [
      {
        text: "Number of shares"
      },
      {
        text: "337,654"
      }

    ],
    [
      {
        text: "Total value	"
      },
      {
        text: "0.337654"
      }
    ],
    [
      {
        text: "Total aggregate amount unpaid, if any"
      },
      {
        text: "0"
      }
    ],
    [
      {
        text: "Prescribed particulars"
      },
      {
        html: "<p>Voting: one vote per share</p>
        <p>Dividends: each share is entitled to participate pari passu in dividend payment</p>
        <p>Capital return: each share is entitled to participate in a distribution (including on winding up)</p>
        <p>Redemption: no redemption rights</p>"
      }
    ]
  ]
}) }}{{ govukTable({
  caption: "A4 Preferred",
  captionClasses: "govuk-table__caption--m",
  firstCellIsHeader: true,

  rows: [
    [
      {
        text: "Currency"
      },
      {
        text: "Pound Sterling"
      }
    ],
    [
      {
        text: "Number of shares"
      },
      {
        text: "4,566"
      }

    ],
    [
      {
        text: "Total value	"
      },
      {
        text: "0.004566"
      }
    ],
    [
      {
        text: "Total aggregate amount unpaid, if any"
      },
      {
        text: "0"
      }
    ],
    [
      {
        text: "Prescribed particulars"
      },
      {
        html: "<p>Voting: one vote per share</p>
        <p>Dividends: each share is entitled to participate pari passu in dividend payment</p>
        <p>Capital return: each share is entitled to participate in a distribution (including on winding up)</p>
        <p>Redemption: no redemption rights</p>"
      }
    ]
  ]
}) }}{{ govukTable({
  caption: "A5 Preferred",
  captionClasses: "govuk-table__caption--m",
  firstCellIsHeader: true,

  rows: [
    [
      {
        text: "Currency"
      },
      {
        text: "Pound Sterling"
      }
    ],
    [
      {
        text: "Number of shares"
      },
      {
        text: "133,544"
      }

    ],
    [
      {
        text: "Total value	"
      },
      {
        text: "0.133544"
      }
    ],
    [
      {
        text: "Total aggregate amount unpaid, if any"
      },
      {
        text: "0"
      }
    ],
    [
      {
        text: "Prescribed particulars"
      },
      {
        html: "<p>Voting: one vote per share</p>
        <p>Dividends: each share is entitled to participate pari passu in dividend payment</p>
        <p>Capital return: each share is entitled to participate in a distribution (including on winding up)</p>
        <p>Redemption: no redemption rights</p>"
      }
    ]
  ]
}) }}{{ govukTable({
  caption: "B2 Preferred",
  captionClasses: "govuk-table__caption--m",
  firstCellIsHeader: true,

  rows: [
    [
      {
        text: "Currency"
      },
      {
        text: "Pound Sterling"
      }
    ],
    [
      {
        text: "Number of shares"
      },
      {
        text: "924,130"
      }

    ],
    [
      {
        text: "Total value	"
      },
      {
        text: "0.924130"
      }
    ],
    [
      {
        text: "Total aggregate amount unpaid, if any"
      },
      {
        text: "0"
      }
    ],
    [
      {
        text: "Prescribed particulars"
      },
      {
        html: "<p>Voting: one vote per share</p>
        <p>Dividends: each share is entitled to participate pari passu in dividend payment</p>
        <p>Capital return: each share is entitled to participate in a distribution (including on winding up)</p>
        <p>Redemption: no redemption rights</p>"
      }
    ]
  ]
}) }}{{ govukTable({
  caption: "B1 preferred",
  captionClasses: "govuk-table__caption--m",
  firstCellIsHeader: true,

  rows: [
    [
      {
        text: "Currency"
      },
      {
        text: "Pound Sterling"
      }
    ],
    [
      {
        text: "Number of shares"
      },
      {
        text: "63,427"
      }

    ],
    [
      {
        text: "Total value	"
      },
      {
        text: "0.063427"
      }
    ],
    [
      {
        text: "Total aggregate amount unpaid, if any"
      },
      {
        text: "0"
      }
    ],
    [
      {
        text: "Prescribed particulars"
      },
      {
        html: "<p>Voting: one vote per share</p>
        <p>Dividends: each share is entitled to participate pari passu in dividend payment</p>
        <p>Capital return: each share is entitled to participate in a distribution (including on winding up)</p>
        <p>Redemption: no redemption rights</p>"
      }
    ]
  ]
}) }}

{{ govukTable({
caption: "Statement of capital (totals)",
firstCellIsHeader: false,
rows: [
[
{
text: "Total number of shares"
},
{
text: "3,762,816"
}
],
[
{
text: "Total Total value	"
},
{
text: "3.2753688 (GBP)"
}
],
[
{
text: "Total amount unpaid"
},
{
text: "0"
}
]
]
}) }}