<div class="govuk-summary-card govuk-!-margin-bottom-4">
  <div class="govuk-summary-card_heading govuk-!-padding-top-4 govuk-!-padding-bottom-4 govuk-!-padding-right-3 govuk-!-padding-left-3 align-center">
    <p class="govuk-!-font-weight-bold govuk-!-margin-0">
      A Ordinary
    </p>

  </div>
  <div sclass="govuk-!-padding-1 flex">
    <dl class="govuk-summary-list govuk-!-margin-3 block">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Currency</dt>
        <dd class="govuk-summary-list__value">
          Pound sterling, GBP (£)
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Number of shares
        </dt>
        <dd class="govuk-summary-list__value">
          967,774
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Total value	
        </dt>
        <dd class="govuk-summary-list__value rtl">

          0.967774
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Prescribed particulars
        </dt>
        <dd class="govuk-summary-list__value">
          <p>Voting: one vote per share</p>
          <p>Dividends: each share is entitled to participate pari passu in dividend payment</p>
          <p>Capital return: each share is entitled to participate in a distribution (including on winding up)</p>
          <p>Redemption: no redemption rights</p>
        </dd>
      </div>

    </dl>
  </div>
</div>

<div class="govuk-summary-card govuk-!-margin-bottom-4">
  <div class="govuk-summary-card_heading govuk-!-padding-top-4 govuk-!-padding-bottom-4 govuk-!-padding-right-3 govuk-!-padding-left-3 align-center">
    <p class="govuk-!-font-weight-bold govuk-!-margin-0">A1 Ordinary
    </p>

  </div>
  <div class="govuk-!-padding-1 flex">
    <dl class="govuk-summary-list govuk-!-margin-3 block">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Currency</dt>
        <dd class="govuk-summary-list__value">
          GBP
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Total number of shares
        </dt>
        <dd class="govuk-summary-list__value">
          541,608
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Total value	
        </dt>
        <dd class="govuk-summary-list__value rtl">

          0.0541608
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Prescribed particulars
        </dt>
        <dd class="govuk-summary-list__value">
          <p>Voting: one vote per share</p>
          <p>Dividends: each share is entitled to participate pari passu in dividend payment</p>
          <p>Capital return: each share is entitled to participate in a distribution (including on winding up)</p>
          <p>Redemption: no redemption rights</p>
        </dd>
      </div>
    </dl>
  </div>
</div>