<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          A2 Preferred
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
      <p class='govuk-body'>{{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "Class of shares"
            },
            value: {
              text: "A2 Preferred"
            },
            actions: {
              items: [
                {
                  href: "/dynamic-pages/share-type",
                  text: "Change",
                  visuallyHiddenText: "class"
                }
              ]
            }
          },
          {
            key: {
              text: "Currency"
            },
            value: {
              text: "GBP"
            },
            actions: {
              items: [
                {
                  href: "/dynamic-pages/currency",
                  text: "Change",
                  visuallyHiddenText: "currency"
                }
              ]
            }
          },
          {
            key: {
              text: "Number of shares"
            },
            value: {
              text: "217,380"
            },
            actions: {
              items: [
                {
                  href: "/dynamic-pages/how-many-shares",
                  text: "Change",
                  visuallyHiddenText: "alloted"
                }
              ]
            }
          }, {
             key: {
               text: "Value of each share"
             },
             value: {
               text: "£0.000001"
             },
             actions: {
               items: [
                 {
                   href: "#",
                   text: "Change",
                   visuallyHiddenText: "alloted"
                 }
               ]
             }
           },{
              key: {
                text: "Total value"
              },
              value: {
                text: "0.21738"
              }
            },
            {
               key: {
                 text: "Total amount unpaid"
               },
               value: {
                 text: "£0"
               },
               actions: {
                 items: [
                   {
                     href: "#",
                     text: "Change",
                     visuallyHiddenText: "alloted"
                   }
                 ]
               }
             },
             {
                key: {
                  text: "Rights attached to the shares"
                },
                value: {
                  html: "<p>Voting: one vote per share</p>
              <p>Dividends: each share is entitled to participate pari passu in dividend payment</p>
              <p>Capital return: each share is entitled to participate in a distribution (including on winding up)</p>
              <p>Redemption: no redemption rights</p>"
                },
                actions: {
                  items: [
                    {
                      href: "#",
                      text: "Change",
                      visuallyHiddenText: "alloted"
                    }
                  ]
                }
              }
        ]
      }) }}
      </p>
    </div>
  </div>

  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
          A3 Preferred
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
      <p class='govuk-body'>{{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "Class of shares"
            },
            value: {
              text: "A3 Preferred"
            },
            actions: {
              items: [
                {
                  href: "/dynamic-pages/share-type",
                  text: "Change",
                  visuallyHiddenText: "class"
                }
              ]
            }
          },
          {
            key: {
              text: "Currency"
            },
            value: {
              text: "GBP"
            },
            actions: {
              items: [
                {
                  href: "/dynamic-pages/currency",
                  text: "Change",
                  visuallyHiddenText: "currency"
                }
              ]
            }
          },
          {
            key: {
              text: "Number of shares"
            },
            value: {
              text: "30,190"
            },
            actions: {
              items: [
                {
                  href: "/dynamic-pages/how-many-shares",
                  text: "Change",
                  visuallyHiddenText: "alloted"
                }
              ]
            }
          }, {
             key: {
               text: "Value of each share"
             },
             value: {
               text: "£0.00001"
             },
             actions: {
               items: [
                 {
                   href: "#",
                   text: "Change",
                   visuallyHiddenText: "alloted"
                 }
               ]
             }
           },{
              key: {
                text: "Total value"
              },
              value: {
                text: "£0.03019"
              }
            },
            {
               key: {
                 text: "Total amount unpaid"
               },
               value: {
                 text: "£0"
               },
               actions: {
                 items: [
                   {
                     href: "#",
                     text: "Change",
                     visuallyHiddenText: "alloted"
                   }
                 ]
               }
             },
             {
                key: {
                  text: "Rights attached to the shares"
                },
                value: {
                  html: "<p>Voting: one vote per share</p>
              <p>Dividends: each share is entitled to participate pari passu in dividend payment</p>
              <p>Capital return: each share is entitled to participate in a distribution (including on winding up)</p>
              <p>Redemption: no redemption rights</p>"
                },
                actions: {
                  items: [
                    {
                      href: "#",
                      text: "Change",
                      visuallyHiddenText: "alloted"
                    }
                  ]
                }
              }
        ]
      }) }}</p>
    </div>
  </div>

  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
          Ordinary
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
      <p class='govuk-body'>{{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "Class of shares"
            },
            value: {
              text: "Ordinary"
            },
            actions: {
              items: [
                {
                  href: "/dynamic-pages/share-type",
                  text: "Change",
                  visuallyHiddenText: "class"
                }
              ]
            }
          },
          {
            key: {
              text: "Currency"
            },
            value: {
              text: "GBP"
            },
            actions: {
              items: [
                {
                  href: "/dynamic-pages/currency",
                  text: "Change",
                  visuallyHiddenText: "currency"
                }
              ]
            }
          },
          {
            key: {
              text: "Total number of shares"
            },
            value: {
              text: "337,453"
            },
            actions: {
              items: [
                {
                  href: "/dynamic-pages/how-many-shares",
                  text: "Change",
                  visuallyHiddenText: "alloted"
                }
              ]
            }
          }, {
             key: {
               text: "Value of each share"
             },
             value: {
               text: "£0.00001"
             },
             actions: {
               items: [
                 {
                   href: "#",
                   text: "Change",
                   visuallyHiddenText: "alloted"
                 }
               ]
             }
           },{
              key: {
                text: "Total value"
              },
              value: {
                text: "£0.337453"
              }
            },
            {
               key: {
                 text: "Total amount unpaid"
               },
               value: {
                 text: "£0"
               },
               actions: {
                 items: [
                   {
                     href: "#",
                     text: "Change",
                     visuallyHiddenText: "alloted"
                   }
                 ]
               }
             },
             {
                key: {
                  text: "Rights attached to the shares"
                },
                value: {
                  html: "<p>Voting: one vote per share</p>
              <p>Dividends: each share is entitled to participate pari passu in dividend payment</p>
              <p>Capital return: each share is entitled to participate in a distribution (including on winding up)</p>
              <p>Redemption: no redemption rights</p>"
                },
                actions: {
                  items: [
                    {
                      href: "#",
                      text: "Change",
                      visuallyHiddenText: "alloted"
                    }
                  ]
                }
              }
        ]
      }) }}</p>
    </div>
  </div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
          A4 Preferred
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
      <p class='govuk-body'>{{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "Class of shares"
            },
            value: {
              text: "A4 Preferred"
            },
            actions: {
              items: [
                {
                  href: "/dynamic-pages/share-type",
                  text: "Change",
                  visuallyHiddenText: "class"
                }
              ]
            }
          },
          {
            key: {
              text: "Currency"
            },
            value: {
              text: "GBP"
            },
            actions: {
              items: [
                {
                  href: "/dynamic-pages/currency",
                  text: "Change",
                  visuallyHiddenText: "currency"
                }
              ]
            }
          },
          {
            key: {
              text: "Number of shares"
            },
            value: {
              text: "4,566"
            },
            actions: {
              items: [
                {
                  href: "/dynamic-pages/how-many-shares",
                  text: "Change",
                  visuallyHiddenText: "alloted"
                }
              ]
            }
          }, {
             key: {
               text: "Value of each share"
             },
             value: {
               text: "£0.00001"
             },
             actions: {
               items: [
                 {
                   href: "#",
                   text: "Change",
                   visuallyHiddenText: "alloted"
                 }
               ]
             }
           },{
              key: {
                text: "Total value"
              },
              value: {
                text: "£0.004566"
              }
            },
            {
               key: {
                 text: "Total amount unpaid"
               },
               value: {
                 text: "£0"
               },
               actions: {
                 items: [
                   {
                     href: "#",
                     text: "Change",
                     visuallyHiddenText: "alloted"
                   }
                 ]
               }
             },
             {
                key: {
                  text: "Rights attached to the shares"
                },
                value: {
                  html: "<p>Voting: one vote per share</p>
              <p>Dividends: each share is entitled to participate pari passu in dividend payment</p>
              <p>Capital return: each share is entitled to participate in a distribution (including on winding up)</p>
              <p>Redemption: no redemption rights</p>"
                },
                actions: {
                  items: [
                    {
                      href: "#",
                      text: "Change",
                      visuallyHiddenText: "alloted"
                    }
                  ]
                }
              }
        ]
      }) }}</p>
    </div>
  </div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
          A5 Preferred
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
      <p class='govuk-body'>{{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "Class of shares"
            },
            value: {
              text: "A5 Preferred"
            },
            actions: {
              items: [
                {
                  href: "/dynamic-pages/share-type",
                  text: "Change",
                  visuallyHiddenText: "class"
                }
              ]
            }
          },
          {
            key: {
              text: "Currency"
            },
            value: {
              text: "GBP"
            },
            actions: {
              items: [
                {
                  href: "/dynamic-pages/currency",
                  text: "Change",
                  visuallyHiddenText: "currency"
                }
              ]
            }
          },
          {
            key: {
              text: "Number of shares"
            },
            value: {
              text: "133,544"
            },
            actions: {
              items: [
                {
                  href: "/dynamic-pages/how-many-shares",
                  text: "Change",
                  visuallyHiddenText: "alloted"
                }
              ]
            }
          }, {
             key: {
               text: "Value of each share"
             },
             value: {
               text: "£0.00001"
             },
             actions: {
               items: [
                 {
                   href: "#",
                   text: "Change",
                   visuallyHiddenText: "alloted"
                 }
               ]
             }
           },{
              key: {
                text: "Total value"
              },
              value: {
                text: "£0.133544"
              }
            },
            {
               key: {
                 text: "Total amount unpaid"
               },
               value: {
                 text: "£0"
               },
               actions: {
                 items: [
                   {
                     href: "#",
                     text: "Change",
                     visuallyHiddenText: "alloted"
                   }
                 ]
               }
             },
             {
                key: {
                  text: "Rights attached to the shares"
                },
                value: {
                  html: "<p>Voting: one vote per share</p>
              <p>Dividends: each share is entitled to participate pari passu in dividend payment</p>
              <p>Capital return: each share is entitled to participate in a distribution (including on winding up)</p>
              <p>Redemption: no redemption rights</p>"
                },
                actions: {
                  items: [
                    {
                      href: "#",
                      text: "Change",
                      visuallyHiddenText: "alloted"
                    }
                  ]
                }
              }
        ]
      }) }}</p>
    </div>
  </div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
          B2 Preferred
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
      <p class='govuk-body'>{{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "Class of shares"
            },
            value: {
              text: "B2 Preferred"
            },
            actions: {
              items: [
                {
                  href: "/dynamic-pages/share-type",
                  text: "Change",
                  visuallyHiddenText: "class"
                }
              ]
            }
          },
          {
            key: {
              text: "Currency"
            },
            value: {
              text: "GBP"
            },
            actions: {
              items: [
                {
                  href: "/dynamic-pages/currency",
                  text: "Change",
                  visuallyHiddenText: "currency"
                }
              ]
            }
          },
          {
            key: {
              text: "Number of shares"
            },
            value: {
              text: "924,130"
            },
            actions: {
              items: [
                {
                  href: "/dynamic-pages/how-many-shares",
                  text: "Change",
                  visuallyHiddenText: "alloted"
                }
              ]
            }
          }, {
             key: {
               text: "Value of each share"
             },
             value: {
               text: "£0.00001"
             },
             actions: {
               items: [
                 {
                   href: "#",
                   text: "Change",
                   visuallyHiddenText: "alloted"
                 }
               ]
             }
           },{
              key: {
                text: "Total value"
              },
              value: {
                text: "£0.924130"
              }
            },
            {
               key: {
                 text: "Total amount unpaid"
               },
               value: {
                 text: "£0"
               },
               actions: {
                 items: [
                   {
                     href: "#",
                     text: "Change",
                     visuallyHiddenText: "alloted"
                   }
                 ]
               }
             },
             {
                key: {
                  text: "Rights attached to the shares"
                },
                value: {
                  html: "<p>Voting: one vote per share</p>
              <p>Dividends: each share is entitled to participate pari passu in dividend payment</p>
              <p>Capital return: each share is entitled to participate in a distribution (including on winding up)</p>
              <p>Redemption: no redemption rights</p>"
                },
                actions: {
                  items: [
                    {
                      href: "#",
                      text: "Change",
                      visuallyHiddenText: "alloted"
                    }
                  ]
                }
              }
        ]
      }) }}

        <h2 class="govuk-heading-m">Totals</h2>

        {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
        {
          key: {
            text: "Currency"
          },
          value: {
            text: "GBP"
          }
        },
        {
          key: {
            text: "Number of shares"
          },
          value: {
            text: "100"
          }
        },

        {
          key: {
            text: "Total value"
          },
          value: {
            text: '£100'
          }
          }
        ]
      }) }}</p>
    </div>
  </div>

</div>