{{ govukSummaryList({
classes: 'govuk-!-margin-bottom-9',
rows: [
  {
    key: {
      text: "Class of shares"
    },
    value: {
      text: "A2 Preferred"
    },
    actions: {
      items: [
        {
          href: "/dynamic-pages/share-type",
          text: "Change",
          visuallyHiddenText: "class"
        }
      ]
    }
  },
  {
    key: {
      text: "Currency"
    },
    value: {
      text: "GBP"
    },
    actions: {
      items: [
        {
          href: "/dynamic-pages/currency",
          text: "Change",
          visuallyHiddenText: "currency"
        }
      ]
    }
  },
  {
    key: {
      text: "Number of shares"
    },
    value: {
      text: "217,380"
    },
    actions: {
      items: [
        {
          href: "/dynamic-pages/how-many-shares",
          text: "Change",
          visuallyHiddenText: "alloted"
        }
      ]
    }
  }, {
     key: {
       text: "Value of each share"
     },
     value: {
       text: "£0.000001"
     },
     actions: {
       items: [
         {
           href: "#",
           text: "Change",
           visuallyHiddenText: "alloted"
         }
       ]
     }
   },{
      key: {
        text: "Total value"
      },
      value: {
        text: "0.21738"
      }
    },
    {
       key: {
         text: "Total amount unpaid"
       },
       value: {
         text: "£0"
       },
       actions: {
         items: [
           {
             href: "#",
             text: "Change",
             visuallyHiddenText: "alloted"
           }
         ]
       }
     },
     {
        key: {
          text: "Rights attached to the shares"
        },
        value: {
          html: "<p>Voting: one vote per share</p>
      <p>Dividends: each share is entitled to participate pari passu in dividend payment</p>
      <p>Capital return: each share is entitled to participate in a distribution (including on winding up)</p>
      <p>Redemption: no redemption rights</p>"
        },
        actions: {
          items: [
            {
              href: "#",
              text: "Change",
              visuallyHiddenText: "alloted"
            }
          ]
        }
      }
]
}) }}