<h2 class="govuk-heading-m">Share capital</h2>

{{ govukSummaryList({
  classes: 'govuk-!-margin-bottom-9',
  rows: [
    {
      key: {
        text: "Class of shares"
      },
      value: {
        text: "Ordinary"
      },
      actions: {
        items: [
          {
            href: "/dynamic-pages/share-type",
            text: "Change",
            visuallyHiddenText: "class"
          }
        ]
      }
    },
    {
      key: {
        text: "Currency"
      },
      value: {
        text: "GBP"
      },
      actions: {
        items: [
          {
            href: "/dynamic-pages/choose-a-currency",
            text: "Change",
            visuallyHiddenText: "currency"
          }
        ]
      }
    },
    {
      key: {
        text: "Number of shares"
      },
      value: {
        text: "100"
      },
      actions: {
        items: [
          {
            href: "/dynamic-pages/how-many-shares",
            text: "Change",
            visuallyHiddenText: "alloted"
          }
        ]
      }
    }, {
       key: {
         text: "Value of each share"
       },
       value: {
         text: "£1"
       },
       actions: {
         items: [
           {
             href: "/dynamic-pages/choose-a-value",
             text: "Change",
             visuallyHiddenText: "alloted"
           }
         ]
       }
     },
    {
      key: {
        text: "Total value"
      },
      value: {
        text: '£100'
      }
    }
  ]
}) }}

<h2 class="govuk-heading-m">Totals</h2>

{{ govukSummaryList({
  classes: 'govuk-!-margin-bottom-9',
  rows: [
  {
    key: {
      text: "Currency"
    },
    value: {
      text: "GBP"
    }
  },
  {
    key: {
      text: "Number of shares"
    },
    value: {
      text: "100"
    }
  },

  {
    key: {
      text: "Total value"
    },
    value: {
      text: '£100'
    }
    }
  ]
}) }}