{{ govukTable({
caption: "Statement of capital (share capital)",
firstCellIsHeader: false,

rows: [
[
{
text: "Class of shares"
},
{
text: "Ordinary"
}
],
[
{
text: "Currency"
},
{
text: "GBP"
}
],
[
{
text: "Number allotted"
},
{
text: "100"
}
],
[
{
text: "Aggregate nominal value"
},
{
text: "1000"
}
]
]
}) }}
<p>Each share has full rights in the company with respect to voting, dividends and distributions.</p>

{{ govukTable({
caption: "Statement of capital (totals)",
firstCellIsHeader: false,
rows: [
[
{
text: "Currency"
},
{
text: "GBP"
}
],
[
{
text: "Total number of shares"
},
{
text: "100"
}
],
[
{
text: "Total aggregate nominal value"
},
{
text: "1000"
}
]
]
}) }}