{% extends "layout.html" %}

{% block pageTitle %}
  Choose a value for each share
{% endblock %}

{% block beforeContent %}

  <a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}
  <!-- DEVS: Ignore the HTML here, it's not correct, but it means the error validation works -->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">
        Variation of rights attached to shares</span>

      <form class="form" action="check-your-answers" method="get">

        {% set otherHtml %}
        {{ govukTextarea({
          name: "more-detail",
          id: "more-detail",
          label: {
            text: "Enter the variation of rights attached to shares",
            classes: "govuk-label--s",
            isPageHeading: false
          }
        }) }}
        {% endset -%}

        {{ govukRadios({
  classes: "govuk-radios",
  idPrefix: "shareholders",
  name: "shareholders",
  fieldset: {
    legend: {
      text: "What are the full details of the variation of rights?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "Full rights",
      text: "Each share has full rights in the company with respect to voting, dividends and distributions"
    },
    {
      value: "other",
      text: "Other",
      conditional: {
        html: otherHtml
      }
    }
  ]
}) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}