{% extends "layout.html" %}
{% block pageTitle %}
  What change would you like to make? - Apply to remove your home address from the Companies House register - GOV.UK
{% endblock %}

<!--service names are not currently shown on CH sign in or company authenticate-->
{% block main %}

  <div class="govuk-width-container">
    {% include "includes/phase-banner.html" %}
    {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

    <main class="govuk-main-wrapper" id="main-content" role="main">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <form action="/change-answer" method="post">

            {{ govukRadios({
              idPrefix: "form",
              name: "form",
              fieldset: {
                legend: {
                  text: "What change would you like to make?",
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--l"
     }
   },
   items: [

      {
        value: "SH01",
        text: "Return of allotment of shares (SH01)"
      },
      {
        value: "RP04",
        text: "File a second filing of a document previously delivered (RP04)"
      },
      {
        value: "SH06",
        text: "Notify a cancellation of shares (SH06)"
      },
      {
        value: "SH08",
        text: "Notify a name or other designation of class of shares (SH08)"
      },
      {
        value: "SH10",
        text: "Give notice of particulars of variation of rights attached to shares (SH10)"
      }
    ]
  }) }}

            {{ govukButton({
        text: "Continue"
      }) }}
          </form>

        </div>
        <!--govuk-grid-row-->
      </div>
      <!--govuk-grid-column-two-thirds-->

    </main>
  </div>
  <!---govuk-width-container-->

{% endblock %}