{% extends "layout.html" %}

{% block pageTitle %}
  What date was the name or designation assigned?
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  <a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}
  <!-- DEVS: Ignore the HTML here, it's not correct, but it means the error validation works -->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="class" method="get">

        <span class="govuk-caption-l">
          A re-designation of a class of shares</span>

        {{ govukDateInput({
id: "date-of-change",
namePrefix: "date-of-change",
fieldset: {
legend: {
text: "What date was the name or designation assigned?",
isPageHeading: false,
classes: "govuk-fieldset__legend--l"
}
},
hint: {
text: "For example, 12 11 2007"
}
}) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}