{% extends "layout.html" %}
{% block pageTitle %}
  What update do you need to make
{% endblock %}

<!--service names are not currently shown on CH sign in or company authenticate-->
{% block main %}

  <div class="govuk-width-container">
    {% include "includes/phase-banner.html" %}
    {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

    <main class="govuk-main-wrapper" id="main-content" role="main">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <form action="/change-answer" method="post">

            {{ govukRadios({
              idPrefix: "form",
              name: "form",
              fieldset: {
                legend: {
                  text: "What change has been made to the share capital?",
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--l"
     }
   },
   items: [

      {
        value: "SH01",
        text: "New shares have been issued"
      },
      {
        value: "SH06",
        text: "Shares have been cancelled"
      },
      {
        value: "SH08",
        text: "Shares have changed class"
      },
      {
        value: "SH10",
        text: "The rights attached to shares have changed"
      },
      {
        value: "RP04",
        text: "I need to correct an error on the statement of capital"
      }
    ]
  }) }}

            {{ govukButton({
        text: "Continue"
      }) }}
          </form>

        </div>
        <!--govuk-grid-row-->
      </div>
      <!--govuk-grid-column-two-thirds-->

    </main>
  </div>
  <!---govuk-width-container-->

{% endblock %}
