{% extends "layout.html" %}
{% block pageTitle %}
  You are about to exit this service
{% endblock %}

<!--service names are not currently shown on CH sign in or company authenticate-->
{% block main %}
  
  <div class="govuk-width-container">
    {% include "includes/phase-banner.html" %}
    {% include "includes/user-bar.html" %}

    <main class="govuk-main-wrapper" id="main-content" role="main">

      <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="" method="post">
        <h1 class="govuk-heading-l">
          You are about to exit this service
        </h1>
        <p>Follow the <a target="_blank" href="https://www.gov.uk/government/collections/forms-to-update-shares">link to forms you can use to notify Companies House of a change to share capital information
          </a>.
        </p>
      </form>
    </div>
  </div>

    </main>
  </div>
  <!---govuk-width-container-->

{% endblock %}
