{% extends "layout.html" %}
{% block pageTitle %}
  What change has been made to the share capital?
{% endblock %}

<!--service names are not currently shown on CH sign in or company authenticate-->
{% block main %}

  <div class="govuk-width-container">
    {% include "includes/phase-banner.html" %}
    {% include "includes/user-bar.html" %}

    <main class="govuk-main-wrapper" id="main-content" role="main">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <form action="/change-answer" method="post">

            {{ govukRadios({
              idPrefix: "share-form",
              name: "share-form",
              fieldset: {
                legend: {
                  text: "What change has been made to the share capital?",
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--l"
                }
              },
              items: [
                {
                  value: "new-shares",
                  text: "New shares have been issued"
                },
                {
                  value: "other",
                  text: "There has been another change to the share capital"
                }
              ]
            }) }}

            {{ govukButton({
  text: "Continue"
}) }}
          </form>

        </div>
        <!--govuk-grid-row-->
      </div>
      <!--govuk-grid-column-two-thirds-->

    </main>
  </div>
  <!---govuk-width-container-->

{% endblock %}