{% extends "layout.html" %}
{% block pageTitle %}
  What is the company number? - Apply to remove your home address from the Companies House register - GOV.UK
{% endblock %}

<!--service names are not currently shown on CH sign in or company authenticate-->
{% set serviceName %}
{% endset%}
{% block main %}

  <div class="govuk-width-container">
    {% include "includes/phase-banner.html" %}
    {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

    <main class="govuk-main-wrapper" id="main-content" role="main">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <form action="statement-of-capital" method="post">
            <h1 class="govuk-heading-xl">Enter the company authentication code</h1>
            <p class="govuk-body">To submit information for ABC Ltd you will need the company authentication code.</p>
            {{ govukInput({
                label: {
                  text: "Company authentication code"
                },
                id: "auth-code",
                name: "authCode",
                value: authCode,
                type: 'password',
                classes: 'govuk-input--width-20'
              }) }}

            {{ govukButton({
        text: "Continue"
      }) }}

            <p class="govuk-body">
              <a href="https://ewf.companieshouse.gov.uk/?_ga=2.259791299.813501771.1566987875-1638653194.1563432911" class="govuk-link" target="_blank">Request an authentication code</a>
            </p>
          </form>

        </div>
        <!--govuk-grid-row-->
      </div>
      <!--govuk-grid-column-two-thirds-->

    </main>
  </div>
  <!---govuk-width-container-->

{% endblock %}