{% extends "layout.html" %}
{% block pageTitle %}
  What is the company number? - Apply to remove your home address from the Companies House register - GOV.UK
{% endblock %}

<!--service names are not currently shown on CH sign in or company authenticate-->
{% set serviceName %}
{% endset%}
{% block main %}

  <div class="govuk-width-container">
    {% include "includes/phase-banner.html" %}
    {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

    <main class="govuk-main-wrapper" id="main-content" role="main">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <form action="statement-of-capital" method="post">

            {{ govukInput({
                label: {
                  text: "Enter the company authentication code",
                  isPageHeading: true,
                  classes: "govuk-label--l"
                },
                hint: {
                  text: "To submit information for ABC Ltd you will need the company authentication code."
                },
                classes: "govuk-input--width-10",
                id: "company-number",
                name: "company-number"
              }) }}

            {{ govukButton({
        text: "Continue"
      }) }}
          </form>

        </div>
        <!--govuk-grid-row-->
      </div>
      <!--govuk-grid-column-two-thirds-->

    </main>
  </div>
  <!---govuk-width-container-->

{% endblock %}