{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block pageTitle %}
  Confirmation page - Apply to remove your home address from the Companies House register - GOV.UK
{% endblock %}
{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/user-bar.html" %}
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Share capital update submitted</h1>
        <div class="govuk-panel__body">
          Your reference number is<br>
          <strong>N4OBD-U2SGP</strong>
        </div>
      </div>

      <p class="govuk-body">We have sent a confirmation email to
        <strong>dthomas@gmail.com</strong>
        which contains your reference number.</p>

      <h3 class="govuk-heading-m">What happens next</h3>

      <p class="govuk-body">We will email you within 2 working days to let you know if your update has been accepted. It will then be added to the company's filing history on the Companies House register.</p>

      <h3 class="govuk-heading-m">Updating shareholder information</h3>

      <p class="govuk-body">If you have submitted an update that affects the company’s shareholder register, this will need to be updated too. For example, you may need to add new shareholders following an allotment of shares.</p>

      <p class="govuk-body">You can update the shareholder register by filing a confirmation statement for the company using our
        <a href="https://ewfpreprod.companieshouse.gov.uk//seclogin?tc=1" class="govuk-link">WebFiling service</a>.
      </p>

    </div>
  </div>

  <h3 class="govuk-heading-m">Feedback</h3>
  <p class="govuk-body">This is a new service. Help us improve it by completing our
    <a href="https://www.research.net/r/remove-home-add-conf">quick survey</a>.
  </p>

{% endblock %}
