{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block pageTitle %}
  Confirmation page
{% endblock %}
{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Share capital update submitted</h1>
        <div class="govuk-panel__body">
          Your reference number is<br>
          <strong>N4OBD-U2SGP</strong>
        </div>
      </div>

      <p class="govuk-body">We have sent a confirmation email to
        <strong>dthomas@gmail.com</strong>
        which contains your reference number.</p>

       <p class="govuk-body">We will email you within 2 working days to let you know if your update has been accepted. It will then be added to the company's filing history on the Companies House register.</p>

      <p class="govuk-body">If you do not receive an email after 2 days, please contact companieshouse@companieshouse.gov.uk or call 123456789.</p>
      
      <h3 class="govuk-heading-m">Updating shareholder information</h3>

      <p class="govuk-body">If you have submitted an update that affects the company’s shareholder register, this may need to be updated too. For example, you may want to add new shareholders following an allotment of shares.</p>

      <p class="govuk-body">You can update the shareholder register by filing a confirmation statement for the company using our
        <a href="https://ewfpreprod.companieshouse.gov.uk//seclogin?tc=1" class="govuk-link">WebFiling service</a>.
      </p>

    </div>
  </div>

   <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-m">What would you like to do next</h1>
        <div class="govuk-!-padding-top-1 govuk-!-padding-right-8">
          <p class="govuk-body">
            <a href="change/start?director={{officer.links.self}}" class="govuk-link govuk-link--no-visited-state">Sign out</a>
          </p>
        </div>
        <div class="govuk-!-padding-top-1 govuk-!-padding-right-8">
          <p class="govuk-body">
            <a href="change/start?director={{officer.links.self}}" class="govuk-link govuk-link--no-visited-state">Make a change for an officer for the same company</a>
          </p>
        </div>
        <div class="govuk-!-padding-top-1 govuk-!-padding-right-8">
          <p class="govuk-body">
            <a href="change/start?director={{officer.links.self}}" class="govuk-link govuk-link--no-visited-state">Make a change for an officer for a different company</a>
          </p>
        </div>
        <div class="govuk-!-padding-top-1 govuk-!-padding-right-8">
          <p class="govuk-body">
            <a href="change/start?director={{officer.links.self}}" class="govuk-link govuk-link--no-visited-state">Continue submitting your confirmation statement</a>
          </p>
        </div>
    </div>
  </div>

{% endblock %}