{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block pageTitle %}
  Confirmation page
{% endblock %}
{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  <a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Share capital update submitted</h1>
        <div class="govuk-panel__body">
          Your reference number is<br>
          <strong>N4OBD-U2SGP</strong>
        </div>
      </div>

      <p class="govuk-body">We have sent a confirmation email to
        <strong>dthomas@gmail.com</strong>
        which contains your reference number.</p>

       <p class="govuk-body">We will email you within 2 working days to let you know if your update has been accepted. It will then be added to the company's filing history on the Companies House register.</p>
       <p class="govuk-body"><a class="govuk-link" href="https://www.gov.uk/contact-companies-house">Contact Companies House</a> if you do not receive an email within 2 working days.</p>

    </div>
  </div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">What would you like to do next?</h2>

        <div class="govuk-!-padding-top-1 govuk-!-padding-right-8">
          <p class="govuk-body">You can go back into this service to:
            <ul>
              <li class="govuk-body"><a href="statement-of-capital#soc" class="govuk-link govuk-link--no-visited-state">file a share capital update for the same company</a>
              <li class="govuk-body"><a href="company-details" class="govuk-link govuk-link--no-visited-state">file a share capital update for a different company</a>
          </p>
        </div>

        <p class="govuk-body">For share capital filings that are not currently available in this service, you'll need to file the <a href="https://www.gov.uk/government/collections/forms-to-update-shares">relevant paper form</a>. You can submit this online using our <a href="https://find-and-update.company-information.service.gov.uk/efs-submission/start">Upload a document to Companies House</a> service. </p>

        <h2 class="govuk-heading-m">Updating shareholder information</h2>

        <p class="govuk-body">Any changes to shareholder information will need to be included in the company’s next confirmation statement. </p>

        <p class="govuk-body">If you want new shareholder details to appear on the public register sooner, you can file a confirmation statement online using our
          <a href="https://ewfpreprod.companieshouse.gov.uk//seclogin?tc=1" class="govuk-link">WebFiling service</a>.
        </p>

        <div class="govuk-!-padding-top-1 govuk-!-padding-right-8">
          <p class="govuk-body">
            <a href="/" class="govuk-link govuk-link--no-visited-state">Sign out</a>
          </p>
        </div>

    </div>
  </div>

{% endblock %}
