{% extends "layout.html" %}

{% block pageTitle %}
  The current Statement of Capital for ABC Ltd
{% endblock %}

{% block beforeContent %}

  <a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/soc-answer" method="post">
        <h1 class="govuk-heading-l">The current Statement of Capital for ABC Ltd</h1>
        <div class="govuk-summary-card govuk-!-margin-bottom-4">
  <div class="govuk-summary-card_heading govuk-!-padding-top-4 govuk-!-padding-bottom-4 govuk-!-padding-right-3 govuk-!-padding-left-3" style="display: flex; justify-content: space-between; align-items: center">
    <p class="govuk-!-font-weight-bold govuk-!-margin-0">
      A2 Preferred
    </p>

  </div>
  <div style="display: flex" class="govuk-!-padding-1">
    <dl style="display: block" class="govuk-summary-list govuk-!-margin-3">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Currency</dt>
        <dd class="govuk-summary-list__value">
          British pound, GBP
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Number of shares
        </dt>
        <dd class="govuk-summary-list__value">
          217,380
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Aggregate nominal value
        </dt>
        <dd class="govuk-summary-list__value" style="direction:rtl; text-align: left">

          0.21738
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Prescribed particulars
        </dt>
        <dd class="govuk-summary-list__value"  style="padding-right: 0px">
          <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
            <div class="govuk-accordion__section ">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button prescribed-particulars-text" id="accordion-default-heading-1">
                    Voting
                  </span>
                </h2>
              </div>
              <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                <p class='govuk-body'>One vote per share</p>
              </div>
            </div>
            <div class="govuk-accordion__section ">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button prescribed-particulars-text" id="accordion-default-heading-2">
                    Dividends
                  </span>
                </h2>
              </div>
              <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                <p class='govuk-body'>Each share is entitled to participate pari passu in dividend payment</p>
              </div>
            </div>
            <div class="govuk-accordion__section ">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button prescribed-particulars-text" id="accordion-default-heading-3">
                    Capital return
                  </span>
                </h2>
              </div>
              <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                <p class='govuk-body'>Each share is entitled to participate in a distribution (including on winding up)</p>
              </div>
            </div>
            <div class="govuk-accordion__section ">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button prescribed-particulars-text" id="accordion-default-heading-4">
                    Redemption
                  </span>
                </h2>
              </div>
              <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
                <p class='govuk-body'>No redemption rights</p>
              </div>
            </div>
          </div>
        </dd>
      </div>

    </dl>
  </div>
</div>

<div class="govuk-summary-card govuk-!-margin-bottom-4">
  <div class="govuk-summary-card_heading govuk-!-padding-top-4 govuk-!-padding-bottom-4 govuk-!-padding-right-3 govuk-!-padding-left-3" style="display: flex; justify-content: space-between; align-items: center">
    <p class="govuk-!-font-weight-bold govuk-!-margin-0">A3 Preferred
    </p>

  </div>
  <div style="display: flex" class="govuk-!-padding-1">
    <dl style="display: block" class="govuk-summary-list govuk-!-margin-3">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Currency</dt>
        <dd class="govuk-summary-list__value">
          British pound, GBP
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Total number of shares
        </dt>
        <dd class="govuk-summary-list__value">
          30,190
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Aggregate nominal value
        </dt>
        <dd class="govuk-summary-list__value" style="direction:rtl; text-align: left">

          0.03019
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Prescribed particulars
        </dt>
        <dd class="govuk-summary-list__value" style="padding-right: 0px">
          <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
            <div class="govuk-accordion__section ">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button prescribed-particulars-text" id="accordion-default-heading-1">
                    Voting
                  </span>
                </h2>
              </div>
              <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                <p class='govuk-body'>One vote per share</p>
              </div>
            </div>
            <div class="govuk-accordion__section ">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button prescribed-particulars-text" id="accordion-default-heading-2">
                    Dividends
                  </span>
                </h2>
              </div>
              <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                <p class='govuk-body'>Each share is entitled to participate pari passu in dividend payment</p>
              </div>
            </div>
            <div class="govuk-accordion__section ">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button prescribed-particulars-text" id="accordion-default-heading-3">
                    Capital return
                  </span>
                </h2>
              </div>
              <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                <p class='govuk-body'>Each share is entitled to participate in a distribution (including on winding up)</p>
              </div>
            </div>
            <div class="govuk-accordion__section ">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button prescribed-particulars-text" id="accordion-default-heading-4">
                    Redemption
                  </span>
                </h2>
              </div>
              <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
                <p class='govuk-body'>No redemption rights</p>
              </div>
            </div>
          </div>
        </dd>
      </div>
    </dl>
  </div>
</div>

<div class="govuk-summary-card govuk-!-margin-bottom-4">
  <div class="govuk-summary-card_heading govuk-!-padding-top-4 govuk-!-padding-bottom-4 govuk-!-padding-right-3 govuk-!-padding-left-3" style="display: flex; justify-content: space-between; align-items: center">
    <p class="govuk-!-font-weight-bold govuk-!-margin-0">Ordinary
    </p>

  </div>
  <div style="display: flex" class="govuk-!-padding-1">
    <dl style="display: block" class="govuk-summary-list govuk-!-margin-3">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Currency</dt>
        <dd class="govuk-summary-list__value">
          British pound, GBP
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Total number of shares
        </dt>
        <dd class="govuk-summary-list__value">
          337,453
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Aggregate nominal value
        </dt>
        <dd class="govuk-summary-list__value" style="direction:rtl; text-align: left">

          0.337453
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Prescribed particulars
        </dt>
        <dd class="govuk-summary-list__value" style="padding-right: 0px">
          <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
            <div class="govuk-accordion__section ">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button prescribed-particulars-text" id="accordion-default-heading-1">
                    Orindary
                  </span>
                </h2>
              </div>
              <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                <p class='govuk-body'>One vote per share</p>
              </div>
            </div>
            <div class="govuk-accordion__section ">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button prescribed-particulars-text" id="accordion-default-heading-2">
                    Dividends
                  </span>
                </h2>
              </div>
              <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                <p class='govuk-body'>Each share is entitled to participate pari passu in dividend payment</p>
              </div>
            </div>
            <div class="govuk-accordion__section ">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button prescribed-particulars-text" id="accordion-default-heading-3">
                    Capital return
                  </span>
                </h2>
              </div>
              <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                <p class='govuk-body'>Each share is entitled to participate in a distribution (including on winding up)</p>
              </div>
            </div>
            <div class="govuk-accordion__section ">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button prescribed-particulars-text" id="accordion-default-heading-4">
                    Redemption
                  </span>
                </h2>
              </div>
              <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
                <p class='govuk-body'>No redemption rights</p>
              </div>
            </div>
          </div>
        </dd>
      </div>
    </dl>
  </div>
</div>

<div class="govuk-summary-card govuk-!-margin-bottom-4">
  <div class="govuk-summary-card_heading govuk-!-padding-top-4 govuk-!-padding-bottom-4 govuk-!-padding-right-3 govuk-!-padding-left-3" style="display: flex; justify-content: space-between; align-items: center">
    <p class="govuk-!-font-weight-bold govuk-!-margin-0">A4 Preferred
    </p>

  </div>
  <div style="display: flex" class="govuk-!-padding-1">
    <dl style="display: block" class="govuk-summary-list govuk-!-margin-3">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Currency</dt>
        <dd class="govuk-summary-list__value">
          British pound, GBP
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Total number of shares
        </dt>
        <dd class="govuk-summary-list__value">
          4,566
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Aggregate nominal value
        </dt>
        <dd class="govuk-summary-list__value" style="direction:rtl; text-align: left">

          0.004566
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Prescribed particulars
        </dt>
        <dd class="govuk-summary-list__value" style="padding-right: 0px">
          <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
            <div class="govuk-accordion__section ">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button prescribed-particulars-text" id="accordion-default-heading-1">
                    Voting
                  </span>
                </h2>
              </div>
              <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                <p class='govuk-body'>One vote per share</p>
              </div>
            </div>
            <div class="govuk-accordion__section ">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button prescribed-particulars-text" id="accordion-default-heading-2">
                    Dividends
                  </span>
                </h2>
              </div>
              <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                <p class='govuk-body'>Each share is entitled to participate pari passu in dividend payment</p>
              </div>
            </div>
            <div class="govuk-accordion__section ">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button prescribed-particulars-text" id="accordion-default-heading-3">
                    Capital return
                  </span>
                </h2>
              </div>
              <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                <p class='govuk-body'>Each share is entitled to participate in a distribution (including on winding up)</p>
              </div>
            </div>
            <div class="govuk-accordion__section ">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button prescribed-particulars-text" id="accordion-default-heading-4">
                    Redemption
                  </span>
                </h2>
              </div>
              <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
                <p class='govuk-body'>No redemption rights</p>
              </div>
            </div>
          </div>
        </dd>
      </div>
    </dl>
  </div>
</div>

<div class="govuk-summary-card govuk-!-margin-bottom-4">
  <div class="govuk-summary-card_heading govuk-!-padding-top-4 govuk-!-padding-bottom-4 govuk-!-padding-right-3 govuk-!-padding-left-3" style="display: flex; justify-content: space-between; align-items: center">
    <p class="govuk-!-font-weight-bold govuk-!-margin-0">A5 Preferred
    </p>

  </div>
  <div style="display: flex" class="govuk-!-padding-1">
    <dl style="display: block" class="govuk-summary-list govuk-!-margin-3">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Currency</dt>
        <dd class="govuk-summary-list__value">
          British pound, GBP
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Total number of shares
        </dt>
        <dd class="govuk-summary-list__value">
          133,544
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Aggregate nominal value
        </dt>
        <dd class="govuk-summary-list__value" style="direction:rtl; text-align: left">

          0.133544
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Prescribed particulars
        </dt>
        <dd class="govuk-summary-list__value" style="padding-right: 0px">
          <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
            <div class="govuk-accordion__section ">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button prescribed-particulars-text" id="accordion-default-heading-1">
                    Voting
                  </span>
                </h2>
              </div>
              <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                <p class='govuk-body'>One vote per share</p>
              </div>
            </div>
            <div class="govuk-accordion__section ">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button prescribed-particulars-text" id="accordion-default-heading-2">
                    Dividends
                  </span>
                </h2>
              </div>
              <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                <p class='govuk-body'>Each share is entitled to participate pari passu in dividend payment</p>
              </div>
            </div>
            <div class="govuk-accordion__section ">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button prescribed-particulars-text" id="accordion-default-heading-3">
                    Capital return
                  </span>
                </h2>
              </div>
              <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                <p class='govuk-body'>Each share is entitled to participate in a distribution (including on winding up)</p>
              </div>
            </div>
            <div class="govuk-accordion__section ">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button prescribed-particulars-text" id="accordion-default-heading-4">
                    Redemption
                  </span>
                </h2>
              </div>
              <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
                <p class='govuk-body'>No redemption rights</p>
              </div>
            </div>
          </div>
        </dd>
      </div>
    </dl>
  </div>
</div>

<div class="govuk-summary-card govuk-!-margin-bottom-4">
  <div class="govuk-summary-card_heading govuk-!-padding-top-4 govuk-!-padding-bottom-4 govuk-!-padding-right-3 govuk-!-padding-left-3" style="display: flex; justify-content: space-between; align-items: center">
    <p class="govuk-!-font-weight-bold govuk-!-margin-0">B2 Preferred
    </p>

  </div>
  <div style="display: flex" class="govuk-!-padding-1">
    <dl style="display: block" class="govuk-summary-list govuk-!-margin-3">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Currency</dt>
        <dd class="govuk-summary-list__value">
          British pound, GBP
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Total number of shares
        </dt>
        <dd class="govuk-summary-list__value">
          924,130
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Aggregate nominal value
        </dt>
        <dd class="govuk-summary-list__value" style="direction:rtl; text-align: left">

          0.924130
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Prescribed particulars
        </dt>
        <dd class="govuk-summary-list__value" style="padding-right: 0px">
          <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
            <div class="govuk-accordion__section ">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button prescribed-particulars-text" id="accordion-default-heading-1">
                    Voting
                  </span>
                </h2>
              </div>
              <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                <p class='govuk-body'>One vote per share</p>
              </div>
            </div>
            <div class="govuk-accordion__section ">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button prescribed-particulars-text" id="accordion-default-heading-2">
                    Dividends
                  </span>
                </h2>
              </div>
              <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                <p class='govuk-body'>Each share is entitled to participate pari passu in dividend payment</p>
              </div>
            </div>
            <div class="govuk-accordion__section ">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button prescribed-particulars-text" id="accordion-default-heading-3">
                    Capital return
                  </span>
                </h2>
              </div>
              <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                <p class='govuk-body'>Each share is entitled to participate in a distribution (including on winding up)</p>
              </div>
            </div>
            <div class="govuk-accordion__section ">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button prescribed-particulars-text" id="accordion-default-heading-4">
                    Redemption
                  </span>
                </h2>
              </div>
              <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
                <p class='govuk-body'>No redemption rights</p>
              </div>
            </div>
          </div>
        </dd>
      </div>
    </dl>
  </div>
</div>

<div class="govuk-summary-card govuk-!-margin-bottom-4">
  <div class="govuk-summary-card_heading govuk-!-padding-top-4 govuk-!-padding-bottom-4 govuk-!-padding-right-3 govuk-!-padding-left-3" style="display: flex; justify-content: space-between; align-items: center">
    <p class="govuk-!-font-weight-bold govuk-!-margin-0">Total
    </p>

  </div>
  <div style="display: flex" class="govuk-!-padding-1">
    <dl style="display: block" class="govuk-summary-list govuk-!-margin-3">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Total number of shares</dt>
        <dd class="govuk-summary-list__value">
          1,710,690
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Total aggregate nominal values
        </dt>
        <dd class="govuk-summary-list__value">
          £1.71069 (GBP)
        </dd>
      </div>
          </div>
        </dd>
      </div>
    </dl>
  </div>
</div>
        {{ govukButton({
          text: "Continue"
          }) }}
      </form>
    </div>
  </div>
{% endblock %}