{% extends "layout.html" %}

{% block pageTitle %}
  Review the updated statement of capital for ABC Ltd
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/user-bar.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/another-update-answer" method="post">
        <h1 class="govuk-heading-l">View the updated statement of capital for ABC Ltd</h1>
        <div id="passport-issued-hint" class="govuk-hint">
          Based on your recent allotment this is your updated statement of capital. This will be reflected in your filing history.
        </div>
        {% include "includes/new-statement-of-capital.html" %}

        {{ govukButton({
text: "Submit"
}) }}
      </form>
    </div>
  </div>
{% endblock %}