{% extends "layout.html" %}

{% block pageTitle %}
  Review the updated statement of capital for ABC Ltd
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  <a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/another-update-answer" method="post">
        <h1 class="govuk-heading-l">Review the updated statement of capital for ABC Ltd</h1>
        {% include "includes/new-statement-of-capital.html" %}

        {{ govukButton({
text: "Submit"
}) }}
      </form>
    </div>
  </div>
{% endblock %}