{% extends "layout.html" %}

{% block pageTitle %}
  Start page - Update a companys share capital information - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="sign-in" method="GET">
        <h1 class="govuk-heading-xl">
          {% if serviceName %}
            {{ serviceName }}
          {% endif %}
        </h1>
        <p class="govuk-body-l">Use this service to submit changes to a company’s share capital information, and to update the statement of capital.
        </p>

        <p class="govuk-body govuk-!-font-weight-bold">You can only use this service for:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>new shares that have been issued</li>
          <li>shares that have been cancelled</li>
          <li>shares that have changed class</li>
          <li>a change in the rights attached to shares</li>
        </ul>

        <p class="govuk-body">For share capital filings that are not currently available in this service, you'll need to file the relevant
          <a href="https://www.gov.uk/government/collections/forms-to-update-shares" class="govuk-link">the relevant form</a>.
          Some forms can be submitted online using the <a href="https://find-and-update.company-information.service.gov.uk/efs-submission/start" class="govuk-link">Upload a document to Companies House</a> service.
        </p>

        <p class="govuk-body">You can only update shareholder information by filing a confirmation statement. You can do this online using our
          <a href="https://ewf.companieshouse.gov.uk//seclogin?tc=1" class="govuk-link">WebFiling service</a>.
        </p>

        <p class="govuk-body govuk-!-font-weight-bold">To update share capital information, you'll need:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>to sign in to or create a Companies House account, which is different from a WebFiling account</li>
          <li>the company number</li>
          <li>the company authentication code</li>
        </ul>

        {{ govukButton({
text: "Start now",
classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8",
isStartButton: true
}) }}

      </div>

      <div class="govuk-grid-column-one-third">
        <aside class="app-related-items" role="complementary">
          <h2 class="govuk-heading-m" id="subsection-title">
            Guidance
          </h2>
          <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="govuk-list
    govuk-!-font-size-16">
              <li>
                <a href="https://www.gov.uk/make-changes-to-your-limited-company/share-structure" target="_blank">
                  Make changes to your private limited company
                  <span class="govuk-visually-hidden">Link opens in new tab/window</span>
                </a>
            </ul>

          </nav>
        </aside>
      </div>
    </div>
  {% endblock %}
