{% extends "layout.html" %}
{% block pageTitle %}
  What change would you like to make? - Apply to remove your home address from the Companies House register - GOV.UK
{% endblock %}

<!--service names are not currently shown on CH sign in or company authenticate-->
{% block main %}

  <div class="govuk-width-container">
    {% include "includes/phase-banner.html" %}
    {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

    <main class="govuk-main-wrapper" id="main-content" role="main">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <form action="/update-answer" method="post">

            {{ govukRadios({
  idPrefix: "update",
  name: "update",
  fieldset: {
    legend: {
      text: "What type of update do you need to make?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "notify",
      text: "I need to notify Companies House about a change to the company's share capital information",
      hint: {
        text: "For example, an allotment or cancellation of shares."
      }
    },
    {
      value: "correct",
      text: "I need to correct an error on my statement of capital",
      hint: {
        text: "For example, if a number or share class is incorrect."
      }
    }
  ]
}) }}
            {{ govukButton({
        text: "Continue"
      }) }}
          </form>

        </div>
        <!--govuk-grid-row-->
      </div>
      <!--govuk-grid-column-two-thirds-->

    </main>
  </div>
  <!---govuk-width-container-->

{% endblock %}