{% extends "layout.html" %}

{% block pageTitle %}
  Choose a value for each share
{% endblock %}

{% block beforeContent %}

  <a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}
  <!-- DEVS: Ignore the HTML here, it's not correct, but it means the error validation works -->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if data['form'] === 'SH01' %}
        <span class="govuk-caption-l">
          (SH01) Return of allotment of shares</span>
      {% endif %}
      {% if data['form'] === 'SH06' or data['form'] == null %}
        <span class="govuk-caption-l">
          (SH06) Notify a cancellation of shares</span>
      {% endif %}

      <h1 class="govuk-heading-l">Choose a value for each share</h1>

      <form class="form" action="check-your-answers" method="get">
        <p class="govuk-body">Shareholders must pay the value of all the shares they own. Choosing a low share value means they'll pay less.</p>
        <p class="govuk-body">This payment covers shareholders for situations such as the company being closed down.</p>

        {{ govukInsetText({
   text: "Share value is not linked to how much the company is worth."
 }) }}

        {{ govukRadios({
  classes: "govuk-radios",
  idPrefix: "shareholders",
  name: "shareholders",
  fieldset: {
    legend: {
      text: " ",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--s"
    }
  },
  items: [
    {
      value: "£1",
      text: "£1"
    },
    {
      value: "other",
      text: "Other"
    }
  ]
}) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}