{% extends "layout.html" %}

{% block pageTitle %}
  Update Share Capital
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Update Share Capital
        <span class="govuk-caption-xl">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}

      <h2 class="govuk-heading-m">Common user journey</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/template-pages/default-pages/sign-in">Sign in</a>
        </li>
        <li>
          <a href="/template-pages/default-pages/service/company-details">Company details</a>
        </li>
        <li>
          <a href="/template-pages/default-pages/confirm-company-details">Confirm company details</a>
        </li>
        <li>
          <a href="/template-pages/default-pages/company-authentication">Company authentication</a>
        </li>
        <li>
          <a href="/template-pages/default-pages/statement-of-capital">Review the statement of capital</a>
        </li>

        <li>
          <a href="/template-pages/default-pages/change">Make a change</a>
        </li>
      </ul>
      <h2 class="govuk-heading-m">Dynamic pages for user journey</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="date-of-allotment">Date of ..</a>
        </li>
        <li>
          <a href="share-type">Share type</a>
        </li>
        <li>
          <a href="how-many-shares">How many shares</a>
        </li>
        <li>
          <a href="choose-a-value">Choose a value</a>
        </li>
        <li>
          <a href="check-your-answers">Check your answers</a>
        </li>
        <li>
          <a href="check-the-statement-of-capital">Check the statement of capital</a>
        </li>
        <li>
          <a href="check-the-long-statement-of-capital">Check the long statement of capital</a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}