{% extends "layout.html" %}

{% block pageTitle %}
  Edit the statement of capital
{% endblock %}

{% block backLink %}
  {{ govukBackLink({
    text: "Back",
  href: "javascript:history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="confirmation-page" method="post">
        <h1 class="govuk-heading-l">Edit the Statement of Capital</h1>
        <h2 class="govuk-heading-m">GBP Pound Sterling</h2>
        <br>
        <p class="govuk-body">
          <a href="https://ewfpreprod.companieshouse.gov.uk//seclogin?tc=1" class="govuk-link">Add a new share class</a>
        </p>

        {% include "includes/statement-of-capital-edit.html" %}

        {{ govukButton({
text: "Submit"
}) }}
      </form>
    </div>
  </div>
{% endblock %}