{% extends "layout.html" %}

{% block pageTitle %}
  Check the statement of capital
{% endblock %}

{% block backLink %}
  {{ govukBackLink({
    text: "Back",
  href: "javascript:history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="check-the-statement-of-capital" method="post">
        <h1 class="govuk-heading-l">Check the Statement of Capital</h1>
        {% include "includes/statement-of-capital-edit.html" %}

        {{ govukButton({
text: "Continue"
}) }}
      </form>
    </div>
  </div>
{% endblock %}