{% extends "layout.html" %}

{% block pageTitle %}
  Task list
{% endblock %}{% set serviceName %}
Confirmation Statement
{% endset%}
{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: "/check-trading-status"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
      {% set recentFilingHTML %}
      <h3 class="govuk-notification-banner__heading">
        A filing to update company details has been received
      </h3>
      <p class="govuk-body">You can continue filing this confirmation statement, even if the change is not yet reflected in this service.
      </p>
      {% endset %}

      {{ govukNotificationBanner({
                html: recentFilingHTML
              }) }}
      <h1 class="govuk-heading-l">
        Confirmation Statement
      </h1>

      <p>You will need to check and confirm that the company information we have on record is correct as of
        {{ moment }}.
        <p class="govuk-body govuk-!-margin-bottom-7">
          {% if additionalOfficers === 'no' %}
            {% set result = result + 1
 %}
          {% endif %}
          {% if pscStatement === 'yes' %}
            {% set result = result + 1 %}
          {% endif %}
          {% if register === 'yes' %}
            {% set result = result + 1 %}
          {% endif %}
          {% if ro === 'yes' %}
            {% set result = result + 1
 %}
          {% endif %}
          {% if statementOfCapital === 'yes' %}
            {% set result = result + 1
 %}
          {% endif %}
          {% if shareholders === 'yes' %}
            {% set result = result + 1
 %}
          {% endif %}
          {% if sic === 'yes' %}
            {% set result = result + 1
 %}
          {% endif %}
          {% if additionalMembers === 'no' %}
            {% set result = result + 1
 %}
          {% endif %}
          You have checked
          {{result}}
          of 7 sections</p>

        <ol class="app-task-list">
          <li>
            <h2 class="app-task-list__section">

              Nature of business
            </h2>
            <ul class="app-task-list__items">
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="/confirmation-statement/sic" aria-describedby="contact-details-status">
                    SIC codes
                  </a>
                </span>
                {% if sic === 'yes' %}
                  <strong class="govuk-tag app-task-list__tag" id="eligibility-status">
                    Checked</strong>

                {% elseif sic === 'no' %}
                  <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="eligibility-status">In progress</strong>

                {% else %}
                  <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="medical-information-status">Not checked</strong>
                {% endif %}
              </li>
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="statement-of-capital" aria-describedby="eligibility-status">
                    Statement of capital
                  </a>
                </span>
                {% if statementOfCapital === 'yes' %}
                  <strong class="govuk-tag app-task-list__tag" id="eligibility-status">
                    Checked</strong>

                {% elseif statementOfCapital === 'no' %}
                  <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="eligibility-status">In progress</strong>

                {% else %}
                  <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="medical-information-status">Not checked</strong>
                {% endif %}
              </li>
            </ul>
          </li>

          <li>
            <h2 class="app-task-list__section">

              People
            </h2>
            <ul class="app-task-list__items">
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="/confirmation-statement/active-officers" aria-describedby="eligibility-status">
                    Officers
                  </a>
                </span>
                {% if additionalOfficers === 'no' %}
                  <strong class="govuk-tag app-task-list__tag" id="eligibility-status">
                    Checked</strong>

                {% elseif additionalOfficers === 'yes' or officers === 'no' or activeOfficers === 'no' %}
                  <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="eligibility-status">In progress</strong>

                {% else %}
                  <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="medical-information-status">Not checked</strong>
                {% endif %}
              </li>

              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="/confirmation-statement/active-pscs" aria-describedby="read-declaration-status">
                    People with significant control (PSC)
                  </a>
                </span>
                {% if pscStatement === 'yes' %}
                  <strong class="govuk-tag app-task-list__tag" id="eligibility-status">
                    Checked</strong>
                {% elseif additionalPscs === 'yes' or pscs === 'no' or activePscs === 'no' %}
                  <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="eligibility-status">In progress</strong>
                {% else %}
                  <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="medical-information-status">Not checked</strong>
                {% endif %}

              </li>

              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="/confirmation-statement/shareholders" aria-describedby="read-declaration-status">
                    Shareholders
                  </a>
                </span>
                {% if shareholders === 'yes' %}
                  <strong class="govuk-tag app-task-list__tag" id="eligibility-status">
                    Checked</strong>

                {% elseif shareholders === 'no' %}
                  <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="eligibility-status">In progress</strong>

                {% else %}
                  <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="medical-information-status">Not checked</strong>
                {% endif %}
              </li>

            </ul>
          </li>

          <li>
            <h2 class="app-task-list__section">

              Addresses
            </h2>
            <ul class="app-task-list__items">
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="/confirmation-statement/ro" aria-describedby="company-information-status">
                    Registered office address
                  </a>
                </span>
                {% if ro === 'yes' %}
                  <strong class="govuk-tag app-task-list__tag" id="eligibility-status">
                    Checked</strong>

                {% elseif ro === 'no' %}
                  <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="eligibility-status">In progress</strong>

                {% else %}
                  <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="medical-information-status">Not checked</strong>
                {% endif %}
              </li>
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="/confirmation-statement/registers" aria-describedby="contact-details-status">
                    Register locations
                  </a>
                </span>
                {% if register === 'yes' %}
                  <strong class="govuk-tag app-task-list__tag" id="eligibility-status">
                    Checked</strong>

                {% elseif register === 'no' %}
                  <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="eligibility-status">In progress</strong>

                {% else %}
                  <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="medical-information-status">Not checked</strong>
                {% endif %}
              </li>

            </ul>
          </li>

          <li>
            <h2 class="app-task-list__section">
              Confirm and submit
            </h2>
            <ul class="app-task-list__items">
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  {% if result === 7 %}
                    {% if scenario.company.csDue === 'notdue' %}
                      <a href="/confirmation-statement/review">Submit</a>
                    {% else %}
                      <a href="/confirmation-statement/review">Submit and pay</a>
                    {% endif %}
                  </span>
                  <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Not started</strong>
                {% else %}
                  Review statement and pay
                </span>
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Cannot start yet</strong>

              </li>
            </ul>
          </li>
        </ol>
      </div>
    </div>
  {% endif %}
{% endblock %}