{% extends "layout.html" %}

{% block pageTitle %}
  You cannot use this service - File a confirmation statement
{% endblock %}{% set serviceName %}
Confirmation Statement
{% endset%}
{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: "/confirmation-statement/statement-of-capital"
  }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="" method="post">
        <h1 class="govuk-heading-xl">
          You cannot use this service
        </h1>
        <p>Currently, changes to share capital can only be made by filing a confirmation statement through
          <a target="_blank" href="/user-journeys/confirmation-statement/edit-the-statement-of-capital">our WebFiling service (opens in a new tab)</a>. You will need to sign in to or create a WebFiling account to do this.
        </p>
        <p>
          <a href="https://www.smartsurvey.co.uk/s/fileconfstmnt-wrongsharecap/">What did you think of this service?</a>
          (takes 2 minutes)</p>
      </form>
    </div>
  </div>
{% endblock %}