{% extends "layout.html" %}

{% block pageTitle %}
  You cannot use this service - File a confirmation statement
{% endblock %}
{% set serviceName %}
Confirmation Statement
{% endset%}
{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: "/confirmation-statement/statement-of-capital"
  }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="" method="post">
        <h1 class="govuk-heading-xl">
          You need to update the company details
        </h1>
        <p>You will need to
          <a target="_blank" href="/user-journeys/confirmation-statement/change">update the company's share capital information (opens in a new tab)</a>
          before you can file a confirmation statement.
        </p>

        <div class="govuk-inset-text">Updates can take some time to process, and will not be reflected immediately in the information displayed on this service. As long as the update has been submitted, you can still file the confirmation statement.
        </div>

        <p>You can return to this confirmation statement by selecting
          <a href="/your-filings">Your Filings</a>
          in your Companies House account.</p>

        <a href="task-list" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
          Return to confirmation statement
        </a>

        <p>
          <a href="https://www.smartsurvey.co.uk/s/fileconfstmnt-wrongsharecap/">What did you think of this service?</a>
          (takes 2 minutes)</p>
      </form>
    </div>
  </div>
{% endblock %}