{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/user-bar.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/default-pages/new-statement-of-capital" method="post">

        <h1 class="govuk-heading-l">Check your answers</h1>

        <h2 class="govuk-heading-m">Company details</h2>

        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Company number
            </dt>
            <dd class="govuk-summary-list__value">
              09164758
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/default-pages/company-details">
                Change<span class="govuk-visually-hidden">
                  company number</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Company name
            </dt>
            <dd class="govuk-summary-list__value">
              ABC Ltd
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/default-pages/company-details">
                Change<span class="govuk-visually-hidden">
                  company name</span>
              </a>
            </dd>
          </div>
        </dl>

        <h2 class="govuk-heading-m">Details of new shares issued</h2>

        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of issue
            </dt>
            <dd class="govuk-summary-list__value">
              05/03/2021
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/dynamic-pages/date">
                Change<span class="govuk-visually-hidden">
                  issue date</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Share type
            </dt>
            <dd class="govuk-summary-list__value">
              Ordinary
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/dynamic-pages/share-type">
                Change<span class="govuk-visually-hidden">share type</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Number of shares issued
            </dt>
            <dd class="govuk-summary-list__value">
              50
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/dynamic-pages/how-many-shares">
                Change<span class="govuk-visually-hidden">
                  share number</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Currency
            </dt>
            <dd class="govuk-summary-list__value">
              Pound sterling, GBP (£)
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/dynamic-pages/choose-a-currency">
                Change<span class="govuk-visually-hidden">
                  share currency</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Value of each share
            </dt>
            <dd class="govuk-summary-list__value">
              £1
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/dynamic-pages/choose-a-value">
                Change<span class="govuk-visually-hidden">
                  share value</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Have the shares been paid for in full?
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/dynamic-pages/paid-and-unpaid">
                Change<span class="govuk-visually-hidden">
                  have the shares been paid for in full</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              How were shares paid for?
            </dt>
            <dd class="govuk-summary-list__value">
              Cash
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/dynamic-pages/payment-method">
                Change<span class="govuk-visually-hidden">
                  how were shares paid for</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Amount paid for each share
            </dt>
            <dd class="govuk-summary-list__value">
              £1
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/dynamic-pages/cash">
                Change<span class="govuk-visually-hidden">
                  amount paid</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Amount unpaid for each share
            </dt>
            <dd class="govuk-summary-list__value">
              £0
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/dynamic-pages/paid-and-unpaid">
                Change<span class="govuk-visually-hidden">
                  amount unpaid</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Rights attached to this share type
            </dt>
            <dd class="govuk-summary-list__value">
              Each share has full rights in the company with respect to voting, dividends and distributions.
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="prescribed-particulars">
                Change<span class="govuk-visually-hidden">
                  rights</span>
              </a>
            </dd>
          </div>
        </dl>
      </div>
    </div>

    {{ govukButton({
text: "Continue"
}) }}
  </form>
</div>
</div>
{% endblock %}