{% extends "layout.html" %}

{% block pageTitle %}
  Check the statement of capital
{% endblock %}

{% block beforeContent %}

  <a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/default-pages/new-statement-of-capital" method="post">

        <h1 class="govuk-heading-l">Check your answers for the allotment of shares</h1>

        <h2 class="govuk-heading-m">Company details</h2>

        {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "Company number"
            },
            value: {
              text: "09164758"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "date of birth"
                }
              ]
            }
          },
          {
            key: {
              text: "Company name"
            },
            value: {
              html: "ABC Ltd"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "address"
                }
              ]
            }
          }
        ]
      }) }}

        <h2 class="govuk-heading-m">Return of allotment of shares</h2>

        {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "Date of issue"
            },
            value: {
              text: "05/03/2021"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "date"
                }
              ]
            }
          },
          {
            key: {
              text: "Type of shares"
            },
            value: {
              html: "Ordinary"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "share type"
                }
              ]
            }
          },
          {
            key: {
              text: "Number of shares issued"
            },
            value: {
              text: "50"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "number of shares"
                }
              ]
            }
          },
          {
            key: {
              text: "Share currency"
            },
            value: {
              text: "British pound, GBP (£)"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "share currency"
                }
              ]
            }
          },
          {
            key: {
              text: "Value of each share"
            },
            value: {
              text: "£1"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "value of each share"
                }
              ]
            }
          },
          {
            key: {
              text: "Amount paid"
            },
            value: {
              text: "£50"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "value per share"
                }
              ]
            }
          },
          {
            key: {
              text: "Amount unpaid"
            },
            value: {
              text: "0"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "value per share"
                }
              ]
            }
          },


          {
            key: {
              text: "Rights attached to this share class"
            },
            value: {
              text: "Each share has full rights in the company with respect to voting, dividends and distributions"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "prescribed particulars"
                }
              ]
            }
          }
        ]
      }) }}

      </div>
    </div>

    {{ govukButton({
text: "Continue"
}) }}
  </form>
</div>
</div>
{% endblock %}