{% extends "layout.html" %}

{% block pageTitle %}
  Choose a value for each share
{% endblock %}

{% block beforeContent %}

  <a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}
  <!-- DEVS: Ignore the HTML here, it's not correct, but it means the error validation works -->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if data['form'] === 'SH01' %}
        <span class="govuk-caption-l">
          Return of allotment of shares</span>
      {% endif %}
      {% if data['form'] === 'SH06' %}
        <span class="govuk-caption-l">
          Notify a cancellation of shares</span>
      {% endif %}

      <form class="form" action="paid-and-unpaid" method="get">

        {{ govukInput({
  id: "cost-per-item",
  name: "cost-per-item",
  label: {
    text: "What is the value of each share?",
    classes: "govuk-label--l",
    isPageHeading: true
  },
  hint: {
   text: "This is the price of the share when it was issued, not its current market value."
 },
  prefix: {
    text: "£"
  },
  suffix: {
    text: "(GBP)"
  },
  classes: "govuk-input--width-5",
  spellcheck: false
}) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}