{% extends "layout.html" %}

{% block pageTitle %}
  Choose a value for each share
{% endblock %}

{% block beforeContent %}

  <a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}
  <!-- DEVS: Ignore the HTML here, it's not correct, but it means the error validation works -->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if data['form'] === 'SH01' %}
        <span class="govuk-caption-l">
          Return of allotment of shares</span>
      {% endif %}
      {% if data['form'] === 'SH06' %}
        <span class="govuk-caption-l">
          Notify a cancellation of shares</span>
      {% endif %}

      <form class="form" action="choose-a-value" method="get">

        {% set otherHtml %}
        {{ govukInput({
          id: "other-share-value",
          name: "other-share-value",
          classes: "govuk-input--width-5",
          label: {
            text: "Enter value of each share"
          } 
        }) }}
        {% endset -%}

        <div class="govuk-input--width-30">
        <label for="autocomplete-default" class="govuk-heading-l">What are the share's currency?</label>
        <div id="currency" class="autocomplete-wrapper"></div>
      </div>
      <script src="/public/javascripts/accessible-autocomplete.js"></script>
      <script src="/public/javascripts/currency.js"></script>

        {{ govukButton({
          text: "Continue",
          classes: "govuk-!-margin-top-7"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}