{% extends "layout.html" %}

{% block pageTitle %}
  What date were the shares alloted?
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/user-bar.html" %}
{% endblock %}

{% block content %}
  <!-- DEVS: Ignore the HTML here, it's not correct, but it means the error validation works -->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="share-type" method="get">

        {% set LegendHtml %}
          When were the shares issued?
        {% endset -%}
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" role="group" aria-describedby="shares-alloted-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        When were the shares issued?
      </h1>
    </legend>
    <div id="shares-alloted-hint" class="govuk-hint">
      For example, 13 3 2021
    </div>
    <h3 class="govuk-heading-s">Date of issue</h3>
    <div class="govuk-date-input" id="shares-alloted-date">
      <div class="govuk-date-input__item govuk-!-padding-right-4">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label">
            Day
          </label>
          <input class="display-none" aria-hidden="true"></div>
      </div>
      <div class="govuk-date-input__item ">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label">
            Month
          </label>
          <input class="display-none" aria-hidden="true"></div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label">
            Year
          </label>
          <input class="display-none" aria-hidden="true"></div>
      </div>
     <div>
        <div>
          <input class="govuk-input govuk-date-input__input date-input-autofocus-fields govuk-input--width-2 inputs" id="shares-alloted-end-year" name="shares-alloted-end-year" type="Number" pattern="[0-9]*" inputmode="numeric" maxlength="2" class="inputs" />
          <input class="govuk-input govuk-date-input__input date-input-autofocus-fields govuk-input--width-2 inputs" id="shares-alloted-end-year" name="shares-alloted-end-year" type="Number" pattern="[0-9]*" inputmode="numeric" maxlength="2" class="inputs" />
          <input class="govuk-input govuk-date-input__input date-input-autofocus-fields govuk-input--width-4 inputs" id="shares-alloted-end-year" name="shares-alloted-end-year" type="Number" pattern="[0-9]*" inputmode="numeric" maxlength="4" class="inputs" />
        </div>
      </div>
    </div>
  </fieldset>
  <div class="govuk-!-margin-top-5">
    <fieldset class="govuk-fieldset" role="group" aria-describedby="shares-alloted-end-hint">
    <h3 class="govuk-heading-s">End date (optional)</h3>
    <div class="govuk-date-input" id="shares-alloted-date">
      <div class="govuk-date-input__item govuk-!-padding-right-4">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label">
            Day
          </label>
          <input class="display-none" aria-hidden="true"></div>
      </div>
      <div class="govuk-date-input__item ">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label">
            Month
          </label>
          <input class="display-none" aria-hidden="true"></div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label">
            Year
          </label>
          <input class="display-none" aria-hidden="true"></div>
      </div>
     <div>
        <div>
          <input class="govuk-input govuk-date-input__input date-input-autofocus-fields govuk-input--width-2 inputs" id="shares-alloted-end-year" name="shares-alloted-end-year" type="Number" pattern="[0-9]*" inputmode="numeric" maxlength="2" class="inputs" />
          <input class="govuk-input govuk-date-input__input date-input-autofocus-fields govuk-input--width-2 inputs" id="shares-alloted-end-year" name="shares-alloted-end-year" type="Number" pattern="[0-9]*" inputmode="numeric" maxlength="2" class="inputs" />
          <input class="govuk-input govuk-date-input__input date-input-autofocus-fields govuk-input--width-4 inputs" id="shares-alloted-end-year" name="shares-alloted-end-year" type="Number" pattern="[0-9]*" inputmode="numeric" maxlength="4" class="inputs" />
        </div>
      </div>
    </div>
    </fieldset>
  </div>
</div>


        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>

      </form>

    </div>
  </div>

{% endblock %}
