{% extends "layout.html" %}

{% block pageTitle %}
  What date were the shares alloted?
{% endblock %}

{% block beforeContent %}

  <a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}
  <!-- DEVS: Ignore the HTML here, it's not correct, but it means the error validation works -->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="share-type" method="get">
        {% if data['form'] === 'SH01' %}
          <span class="govuk-caption-l">
            Return of allotment of shares</span>
        {% endif %}
        {% if data['form'] === 'RP04' %}
          <span class="govuk-caption-l">
            (RP04) Second filing of a document</span>
        {% endif %}
        {% if data['form'] === 'SH06' or data['form'] == null %}
          <span class="govuk-caption-l">
            Notify a cancellation of shares</span>
        {% endif %}
        {% if data['form'] === 'SH10' %}
          <span class="govuk-caption-l">
            A change to the rights attached to shares</span>
        {% endif %}

        {% set LegendHtml %}
        {% if data['form'] === 'SH01' %}
          When were the shares allotted?
        {% endif %}
        {% if data['form'] === 'RP04' %}
          When were the shares allotted?
        {% endif %}
        {% if data['form'] === 'SH06' or data['form'] == null %}
          When were the shares cancelled?
        {% endif %}
        {% if data['form'] === 'SH10' %}
          What is the date of variation of rights?
        {% endif %}
        {% endset -%}
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" role="group" aria-describedby="shares-alloted-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        When were the shares alloted?
      </h1>
    </legend>
    <div id="shares-alloted-hint" class="govuk-hint">
      For example, 12 11 2007
    </div>
    <div class="govuk-date-input" id="shares-alloted-date">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" type="text" pattern="[0-9]*" inputmode="numeric" maxlength="2" max="31"></div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" type="text" pattern="[0-9]*" inputmode="numeric" maxlength="2" max="12"></div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" type="text" pattern="[0-9]*" inputmode="numeric" maxlength="4"></div>
      </div>
    </div>
  </fieldset>
  <div class="govuk-!-margin-top-5">
    {% if data['form'] === 'SH01' %}
    <fieldset class="govuk-fieldset" role="group" aria-describedby="shares-alloted-end-hint">
    <h3 class="govuk-heading-s">Allotment period ended (optional)</h3>
    <div class="govuk-date-input" id="shares-alloted-end">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="shares-alloted-day">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="shares-alloted-end-day" name="shares-alloted-end-day" type="text" pattern="[0-9]*" inputmode="numeric" maxlength="2"></div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="shares-alloted-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="shares-alloted-end-month" name="shares-alloted-end-month" type="text" pattern="[0-9]*" inputmode="numeric" maxlength="2"></div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="shares-alloted-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="shares-alloted-end-year" name="shares-alloted-end-year" type="text" pattern="[0-9]*" inputmode="numeric" maxlength="4"></div>
      </div>
    </div>
    </fieldset>
  {% endif %}
  </div>
  
</div>

        
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}