{% extends "layout.html" %}

{% block pageTitle %}
  How many shares are being alloted?
{% endblock %}

{% block beforeContent %}

  <a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}
  <!-- DEVS: Ignore the HTML here, it's not correct, but it means the error validation works -->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if data['form'] === 'SH01' %}
        <span class="govuk-caption-l">
          (SH01) Return of allotment of shares</span>

      {% endif %}
      {% if data['form'] === 'SH06' or data['form'] == null %}
        <span class="govuk-caption-l">
          (SH06) Notify a cancellation of shares</span>
      {% endif %}

      {% set LegendHtml %}
      {% if data['form'] === 'SH01' %}
        How many shares are being alloted?
      {% endif %}
      {% if data['form'] === 'SH06' or data['form'] == null %}
        How many shares are being cancelled?
      {% endif %}
      {% endset -%}

      <form class="form" action="choose-a-value" method="get">

        {{ govukRadios({
  classes: "govuk-radios",
  idPrefix: "shareholders",
  name: "shareholders",
  fieldset: {
    legend: {
      text: LegendHtml,
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "1share",
      text: "1 share"
    },
    {
      value: "other",
      text: "Other amount"
    }
  ]
}) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}