{% extends "layout.html" %}

{% block pageTitle %}
  How many shares are being alloted?
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/user-bar.html" %}
{% endblock %}

{% block content %}
  <!-- DEVS: Ignore the HTML here, it's not correct, but it means the error validation works -->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set LegendHtml %}
      {% if data['form'] === 'SH01' %}
        How many shares were issued?
      {% endif %}
      {% if data['form'] === 'SH06'%}
        How many shares are being cancelled?
      {% endif %}
      {% if data['form'] == null %}
        How many shares?
      {% endif %}
      {% endset -%}

      <form class="form" action="choose-a-currency" method="get">

        {{ govukInput({
          label: {
            text: LegendHtml,
            classes: "govuk-label--l",
            isPageHeading: true
          },
          id: "number-of-shares",
          classes: "govuk-input--width-10",
          name: "number-of-shares"
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}