{% extends "layout.html" %}

{% block pageTitle %}
  Do you want to allot more shares?
{% endblock %}

{% block beforeContent %}

  <a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}
  <!-- DEVS: Ignore the HTML here, it's not correct, but it means the error validation works -->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if data['form'] === 'SH01' %}
        <span class="govuk-caption-l">
          (SH01) Return of allotment of shares</span>

      {% endif %}
      {% if data['form'] === 'SH06' or data['form'] == null %}
        <span class="govuk-caption-l">
          (SH06) Notify a cancellation of shares</span>
      {% endif %}
      {% set LegendHtml %}
      {% if data['form'] === 'SH01' %}
        Would you like to allot more shares?
      {% endif %}
      {% if data['form'] === 'SH06' or data['form'] == null %}
        Would you like to cancel more shares?
      {% endif %}
      {% endset -%}
      <form class="form" action="how-many-shares" method="get">

        {{ govukRadios({
     idPrefix: "share-type",
     name: "share-type",
     fieldset: {
       legend: {
         text: LegendHtml,
         isPageHeading: true,
         classes: "govuk-fieldset__legend--l"
       }
     },
        hint: {
        text: "You can use any name for the share type, but listed below are some standard names that te majority of companies use."
        },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No"
          }

        ]
      }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}