{% extends "layout.html" %}

{% block pageTitle %}
  What is the non-cash consideration for each share?
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/user-bar.html" %}
{% endblock %}

{% block content %}
  <!-- DEVS: Ignore the HTML here, it's not correct, but it means the error validation works -->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="prescribed-particulars" method="get">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="cash-non-cash">
            What is the non-cash consideration for each share?
          </label>
        </h1>
        <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="4000" data-threshold="90">
          <div class="govuk-form-group">
            <div id="account-number-hint" class="govuk-hint">
              This is where shares have been paid for using something other than cash. For example, property, shares in another company, or equipment.
            </div>
            <textarea class="govuk-textarea govuk-js-character-count" id="word-count" name="word-count" rows="10" aria-describedby="word-count-info"></textarea>
          </div>
          <div id="word-count-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
            You can enter up to 4000 characters
          </div>
        </div>

        {{ govukButton({
          text: "Continue"
        }) }}
      </div>

    </div>
  </form>

</div>
</div>

{% endblock %}