{% extends "layout.html" %}

{% block pageTitle %}
  How many shares are being alloted?
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/user-bar.html" %}
{% endblock %}

{% block content %}
  <!-- DEVS: Ignore the HTML here, it's not correct, but it means the error validation works -->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if data['cash'] === 'cash' %}
      <form class="form" action="unpaid" method="get">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="cost-per-item">
            How much has been paid for each share?
          </label>
        </h1>
        <div id="passport-issued-hint" class="govuk-hint">
          Include the share premium if there is one.
        </div>
        <div class="govuk-input__wrapper">
          <div class="govuk-input__prefix" aria-hidden="true">£</div>
          <input class="govuk-input govuk-input--width-5" id="amount-paid" name="amount-paid" type="text" spellcheck="false">
          <div class="govuk-input__suffix" aria-hidden="true">(GBP)</div>
        </div>
        <button class="govuk-button govuk-!-margin-top-4" data-module="govuk-button">
          Continue
        </button>
      </div>

      {% elif data['cash'] === 'non-cash'%}
      <form class="form" action="unpaid" method="get">
      <h1 class="govuk-heading-l">
          What are the non cash considerations for each share?
        </h1>

        {{ govukTextarea({
            hint: {
            text: "This is where shares have been paid for using something other than cash. For example, property, shares in another company, or equipment."
        },
          id: "non-cash-consideration",
          name: "non-cash-consideration"
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      {% elif data['cash'] === 'cash-and-non-cash'%}
            <form class="form" action="unpaid" method="get">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="cost-per-item">
            What amount has been paid (including share premium) for each share?
          </label>
        </h1>
        <div class="govuk-input__wrapper">
          <div class="govuk-input__prefix" aria-hidden="true">£</div>
          <input class="govuk-input govuk-input--width-5" id="amount-paid" name="amount-paid" type="text" spellcheck="false">
          <div class="govuk-input__suffix" aria-hidden="true">(GBP)</div>
        </div>
        <button class="govuk-button govuk-!-margin-top-4" data-module="govuk-button">
          Continue
        </button>
      </div>
      {% else %}
        <p>Please select whether the shares were paid for in cash or non-cash</p>
      {% endif %}
      </form>

    </div>
  </div>

{% endblock %}
