{% extends "layout.html" %}

{% block pageTitle %}
  Have the shares been paid for in full?
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/user-bar.html" %}
{% endblock %}

{% block content %}
  <!-- DEVS: Ignore the HTML here, it's not correct, but it means the error validation works -->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/paid-answer" method="post">

        {{ govukRadios({
          idPrefix: "shares-paid",
          name: "shares-paid",
          fieldset: {
            legend: {
              text: "Have the shares been paid for in full?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "partly-paid",
              text: "No, they are partly paid"
            },
            {
              value: "unpaid",
              text: "No, they are unpaid"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}