{% extends "layout.html" %}

{% block pageTitle %}
  How many shares are being alloted?
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/user-bar.html" %}
{% endblock %}

{% block content %}
  <!-- DEVS: Ignore the HTML here, it's not correct, but it means the error validation works -->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="paid" method="get">
        <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        How were the shares paid for?
      </h1>
    </legend>
    <div class="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="cash" name="cash" type="radio" value="cash" data-aria-controls="conditional-cash">
        <label class="govuk-label govuk-radios__label" for="cash">
          Cash
        </label>
        <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
          This is a monetary value, for example GBP.
        </div>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="non-cash" name="cash" type="radio" value="non-cash" data-aria-controls="conditional-cash-2">
        <label class="govuk-label govuk-radios__label" for="non-cash">
          Non-cash
        </label>
        <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
          This is a non monetary value.
        </div>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="cash-and-non-cash" name="cash" type="radio" value="cash-and-non-cash" data-aria-controls="conditional-cash-3">
        <label class="govuk-label govuk-radios__label" for="cash-and-non-cash">
         Cash and non-cash
        </label>
        <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
          This is a combination of monetary and non monetary values.
        </div>
      </div>
    </div>

  </fieldset>
        

        {{ govukButton({
          text: "Continue",
          classes: "govuk-!-margin-top-4"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}