{% extends "layout.html" %}

{% block pageTitle %}
  How many shares are being alloted?
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/user-bar.html" %}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if data['shares-paid'] === 'yes' %}
      <form class="form" action="paid-how" method="get">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="cost-per-item">
            How were shares paid for?
          </label>
        </h1>
        <div class="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="cash" name="shares-paid-how" type="radio" value="cash" data-aria-controls="conditional-cash">
        <label class="govuk-label govuk-radios__label" for="cash">
          Cash
          <div id="account-number-hint" class="govuk-hint">
            This includes any monetary method of payment.
          </div>
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="non-cash" name="shares-paid-how" type="radio" value="non-cash" data-aria-controls="conditional-cash-2">
        <label class="govuk-label govuk-radios__label" for="non-cash">
          Non-cash consideration
          <div id="account-number-hint" class="govuk-hint">
            This is where shares were paid for with something other than cash, such as property or equipment.
          </div>
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="cash-and-non-cash" name="shares-paid-how" type="radio" value="cash-and-non-cash" data-aria-controls="conditional-cash-3">
        <label class="govuk-label govuk-radios__label" for="cash-and-non-cash">
         A combination of cash and non-cash consideration
        </label>
      </div>
    </div>
        <button class="govuk-button govuk-!-margin-top-4" data-module="govuk-button">
          Continue
        </button>
      </div>
      {% elif data['shares-paid'] === 'no-partly' %}
       <form class="form" action="payment-method" method="get">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="cost-per-item">
            What is the amount unpaid for each share?
          </label>
          <div id="passport-issued-hint" class="govuk-hint">
            Include the share premium amount if there is one.
          </div>
        </h1>
        <div class="govuk-input__wrapper">
          <div class="govuk-input__prefix" aria-hidden="true">£</div>
          <input class="govuk-input govuk-input--width-5" id="amount-paid" name="amount-paid" type="text" spellcheck="false">
          <div class="govuk-input__suffix" aria-hidden="true">(GBP)</div>
        </div>
        <button class="govuk-button govuk-!-margin-top-4" data-module="govuk-button">
          Continue
        </button>
      </div>
      {% elif data['shares-paid'] === 'no-unpaid' %}
       <form class="form" action="prescribed-particulars" method="get">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="cost-per-item">
            What is the amount unpaid for each share?
          </label>
          <div id="passport-issued-hint" class="govuk-hint">
            Include the share premium amount if there is one.
          </div>

        </h1>
        <div class="govuk-input__wrapper">
          <div class="govuk-input__prefix" aria-hidden="true">£</div>
          <input class="govuk-input govuk-input--width-5" id="amount-paid" name="amount-paid" type="text" spellcheck="false">
          <div class="govuk-input__suffix" aria-hidden="true">(GBP)</div>
        </div>
        <button class="govuk-button govuk-!-margin-top-4" data-module="govuk-button">
          Continue
        </button>
      </div>
      {% else %}
      Please select whether shares have been paid for in full
      {% endif %}
    </div>
  </div>
{% endblock %}
