{% extends "layout.html" %}

{% block pageTitle %}
  How many shares are being alloted?
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/user-bar.html" %}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="paid-how" method="get">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="share-payment-method">
            How were shares paid for?
          </label>
        </h1>
        <div class="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="cash" name="shares-paid-how" type="radio" value="cash" data-aria-controls="conditional-cash">
        <label class="govuk-label govuk-radios__label" for="cash">
          Cash
          <div id="account-number-hint" class="govuk-hint">
            This includes any monetary method of payment.
          </div>
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="non-cash" name="shares-paid-how" type="radio" value="non-cash" data-aria-controls="conditional-cash-2">
        <label class="govuk-label govuk-radios__label" for="non-cash">
          Non-cash consideration
          <div id="account-number-hint" class="govuk-hint">
            This is where shares were paid for with something other than cash, such as property or equipment.
          </div>
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="cash-and-non-cash" name="shares-paid-how" type="radio" value="cash-and-non-cash" data-aria-controls="conditional-cash-3">
        <label class="govuk-label govuk-radios__label" for="cash-and-non-cash">
         A combination of cash and non-cash consideration
        </label>
      </div>
    </div>
        <button class="govuk-button govuk-!-margin-top-4" data-module="govuk-button">
          Continue
        </button>
      </div>
    </div>
  </div>
{% endblock %}

