{% extends "layout.html" %}

{% block pageTitle %}
  What are the prescribed particulars
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/user-bar.html" %}
{% endblock %}

{% block content %}
  <!-- DEVS: Ignore the HTML here, it's not correct, but it means the error validation works -->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="check-your-answers" method="get">

        {% set otherHtml %}
        <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="8000" data-threshold="90">
          <div class="govuk-form-group">
            <h1 class="govuk-label-wrapper"><label class="govuk-label" for="word-count">
                Enter details of the rights attached to this share type
              </label>
            </h1>
            <textarea class="govuk-textarea govuk-js-character-count" id="word-count" name="word-count" rows="10" aria-describedby="word-count-info"></textarea>
          </div>
          <div id="word-count-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
            You can enter up to 4000 characters
          </div>
        </div>
        {% endset -%}

        {{ govukRadios({
  classes: "govuk-radios",
  idPrefix: "particulars",
  name: "particulars",
  fieldset: {
    legend: {
      text: "What are the rights attached to this share type?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "Full rights",
      text: "Each share has full rights in the company with respect to voting, dividends and distributions",
      hint: {
        text: "These are the most common rights for this share type."
      }
    },
    {
      value: "other",
      text: "Other",
      conditional: {
        html: otherHtml
      }
    }
  ]
}) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
