{% extends "layout.html" %}

{% block pageTitle %}
  What type of shares were issued?
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/user-bar.html" %}
{% endblock %}

{% block content %}
  <!-- DEVS: Ignore the HTML here, it's not correct, but it means the error validation works -->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="how-many-shares" method="get">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="share-type-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                What type of shares were issued?
              </h1>
            </legend>
            <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="share" name="share" type="radio" value="ordinary" data-aria-controls="conditional-share">
                <label class="govuk-label govuk-radios__label" for="share">
                  Ordinary
                </label>
                <div id="sign-in-2-item-hint" class="govuk-hint govuk-radios__hint">
                  This is the most commonly issued share type. It is used when shareholders are given the right to vote and receive dividends.
                </div>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="share-2" name="share" type="radio" value="other" data-aria-controls="conditional-share-2">
                <label class="govuk-label govuk-radios__label" for="share-2">
                  Other
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-share-2">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="share-new">
                    Enter a share type, or create a new one
                  </label>
                  <div id="class" class="autocomplete-wrapper"></div>
                </div>
                <script src="/public/javascripts/accessible-autocomplete.js"></script>
                <script src="/public/javascripts/class.js"></script>
              </div>
            </div>

          </fieldset>
        </div>

        {{ govukButton({
  text: "Continue"
}) }}

      </form>

    </div>
  </div>

{% endblock %}