{% extends "layout.html" %}

{% block pageTitle %}
  Do you want to use the most common type of shares?
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  <a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}
  <!-- DEVS: Ignore the HTML here, it's not correct, but it means the error validation works -->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if data['form'] === 'SH01' %}
        <span class="govuk-caption-l">
          Return of allotment of shares</span>
      {% endif %}

      {% if data['form'] === 'SH06' %}
        <span class="govuk-caption-l">
          Notify a cancellation of shares</span>
      {% endif %}

      {% set LegendHtml %}

      {% if data['form'] === 'SH01' %}
        What type of shares were issued?
      {% endif %}

      {% if data['form'] === 'SH06'%}
        What type of shares would you like to cancel?
      {% endif %}

      {% if data['form'] == null %}
        What type of shares were issued?
      {% endif %}

      {% endset -%}
      <form class="form" action="how-many-shares" method="get">

        {% set otherHtml %}
        {{ govukInput({
          id: "other-share-type",
          name: "other-share-type",
          type: "tel",
          classes: "govuk-!-width-one-half",
          label: {
            text: "Enter a type of share"
          }
        }) }}
        {% endset -%}

        {{ govukRadios({
     idPrefix: "share-type",
     name: "share-type",
     fieldset: {
       legend: {
         text: LegendHtml,
         isPageHeading: true,
         classes: "govuk-fieldset__legend--l"
       }
     },
        items: [
          {
            value: "ordinary",
            text: "Ordinary",
            hint: {
              text: "Commonly used when shareholders are given the right to vote and receive dividends."
            }
          },
          {
            value: "ordinary-a",
            text: "Ordinary A",
            hint: {
              text: "Commonly used when there's a difference in share value or rights to Ordinary shares."
            }
          },
          {
            value: "redeemable",
            text: "Redeemable",
            hint: {
              text: "Commonly used when companies are able to buy back shares."
            }
          },
          {
            value: "preference",
            text: "Preference",
            hint: {
              text: "Commonly used when shareholders dividend payments are prioritised over Ordinary shareholders."
            }
          },
          {
            value: "other",
            text: "Other",
            conditional: {
              html: otherHtml
            }
          }
        ]
      }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
