{% extends "layout.html" %}

{% block pageTitle %}
  Update a company's share capital information
{% endblock %}
{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  <a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width">
      <h1 class="govuk-heading-xl">
        Update a company's share capital information
        <span class="govuk-caption-xl">Version 2</span>
      </h1>

      <div class="govuk-tabs" data-module="govuk-tabs">
        <h4 class="govuk-tabs__title">
          Contents
        </h4>
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#code">
              Currently being user tested
            </a>
          </li>
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#other">
              Other user journeys (work in progress)
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#form-versions">
              Previous versions
            </a>
          </li>
        </ul>
        <div class="govuk-tabs__panel" id="code">
          <h2 class="govuk-heading-l">
            Scenario
          </h2>

          <p class="govuk-body">You’re the director/ working on behalf of ABC limited.
          </p>
          <p>There are 100 existing shares in the company.</p>
          <p>
            You have been notified that 50 new Ordinary shares have been issued at a value of £1 each.
          </p>
          <p>(Date shares allotted 05/03/2021)
          </p>

          <h3 class="govuk-heading-m">Task</h3>
          <p class="govuk-body">
            Can you show and tell me how you would update Companies House register to reflect this?</p>
          <h3 class="govuk-heading-m">Allotment of shares (SH01)</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="/default-pages/start">Start</a>
            </li>
            <li>
              <a href="/default-pages/sign-in">Sign in</a>
            </li>
            <li>
              <a href="/default-pages/company-details">Company details</a>
            </li>
            <li>
              <a href="/default-pages/confirm-company-details">Confirm company details</a>
            </li>
            <li>
              <a href="/default-pages/company-authentication">Company authentication</a>
            </li>
            <li>
              <a href="/default-pages/statement-of-capital">The current statement of capital</a>
            </li>

            <li>
              <a href="/default-pages/change">Make a change</a>
            </li>

            <li>
              <a href="/dynamic-pages/date">Date of allotment</a>
            </li>
            <li>
              <a href="/dynamic-pages/share-type">Share type</a>
            </li>

            <li>
              <a href="/dynamic-pages/how-many-shares">How many shares</a>
            </li>
            <li>
              <a href="/dynamic-pages/choose-a-currency">What is the currency? (new)</a>
            </li>
            <li>
              <a href="/default-pages/choose-a-value">Choose a value</a>
            </li>
            <li>
              <a href="/dynamic-pages/paid-and-unpaid">What are the amounts paid and unpaid for each share? (new)</a>
            </li>
            <li>
              <a href="/dynamic-pages/prescribed-particulars">Prescribed particulars</a>
            </li>
            <li>
              <a href="/dynamic-pages/check-your-answers">Check your answers</a>
            </li>
            <li>
              <a href="/default-pages/new-statement-of-capital">Check the new statement of capital</a>
            </li>
            <li>
              <a href="/default-pages/confirmation">Confirmation</a>
            </li>
          </li>
        </ul>

        <h3 class="govuk-heading-m">Proof of concept</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="/default-pages/long-statement-of-capital">Long Statement of Capital</a>
          </li>

        </div>
        <div class="govuk-tabs__panel" id="other">
          <h2 class="govuk-heading-m">Redesignation of shares (SH08)</h2>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="/user-journeys/SH08/date">Date of redesignation of shares</a>
            </li>
            <li>
              <a href="/user-journeys/SH08/class">Prescribed particulars</a>
            </li>
            <li>
              <a href="/user-journeys/SH08/share-rights">Share rights</a>
            </li>
            <li>
              <a href="/user-journeys/SH08/check-your-answers">Check your answers</a>
            </li>
          </ul>
          <h2 class="govuk-heading-m">Change the rights attached to shares (SH10)</h2>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="/user-journeys/SH10/date">Date of variation of rights to shares</a>
            </li>
            <li>
              <a href="/user-journeys/SH10/prescribed-particulars">Prescribed particulars</a>
            </li>
            <li>
              <a href="/user-journeys/SH10/check-your-answers">Check your answers</a>
            </li>
          </ul>

          <h2 class="govuk-heading-m">Other designs</h2>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="/dynamic-pages/share-type-no-hint">Share type (long)</a>
            </li>
            <li>
              <a href="/default-pages/long-statement-of-capital">The current (long) statement of capital</a>
            </li>
            <li>
              <a href="/user-journeys/CHS">CHS</a>
            </li>
            <li>
              <a href="/user-journeys/Resolution/attach-a-special-resolution">Attach a special resolution</a>
            </li>
            <li>
              <a href="/user-journeys/Article/attach-the-amended-articles-of-association">Attach the amended articles of association</a>
          </ul>

        </div>

        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="form-versions">
          <table class="govuk-table version-history">
            <caption class="govuk-table__caption govuk-heading-l">Previous versions</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Version</th>
                <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Tested on</th>
                <th scope="col" class="govuk-table__header govuk-!-width-one-third">Changes</th>
                <th scope="col" class="govuk-table__header govuk-!-width-one-third">Status</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">
                  <a href="https://statement-of-capital-prototype.herokuapp.com/">Version 1</a>
                </th>
                <td class="govuk-table__cell">N/A</td>
                <td class="govuk-table__cell">
                  <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Changes included in version 1
                      </span>
                    </summary>
                    <div class="govuk-details__text">
                      <ul class="govuk-list--bulletlist">

                        <li>
                          Added the following pages
                          <a href="default-pages/start">GOV.UK start page</a>,
                          <a href="default-pages/sign-in">Sign in</a>,
                          <a href="default-pages/company-details">Company details</a>,
                          <a href="default-pages/confirm-company-details">Confirm company details</a>,
                          <a href="default-pages/company-authentication">Company authentication</a>,
                          <a href="default-pages/statement-of-capital">The current statement of capital</a>,
                          <a href="default-pages/long-statement-of-capital">The current (long) statement of capital</a>,
                          <a href="default-pages/change">Make a change</a>,
                          <a href="dynamic-pages/date">Date page (allotment)</a>,
                          <a href="dynamic-pages/share-type">Share type</a>,
                          <a href="dynamic-pages/how-many-shares">How many shares</a>,
                          <a href="dynamic-pages/choose-a-value">Choose a value</a>,
                          <a href="dynamic-pages/prescribed-particulars">Prescribed particulars</a>,
                          <a href="dynamic-pages/check-your-answers">Check your answers</a>,
                          <a href="default-pages/new-statement-of-capital">Check the new statement of capital</a>,
                          <a href="default-pages/confirmation">Confirmation</a>,
                          <a href="user-journeys/SH08/date">Date page (redesignation)</a>,
                          <a href="user-journeys/SH08/class">Prescribed particulars (redesignation)</a>,
                          <a href="user-journeys/SH08/share-rights">Share rights page (redesignation)</a>,
                          <a href="user-journeys/SH08/check-your-answers">Check your answers page (redesignation)</a>,
                          <a href="user-journeys/SH10/date">Date page (change rights)</a>,
                          <a href="user-journeys/SH10/prescribed-particulars">Prescribed particulars (change rights)</a>,
                          <a href="user-journeys/SH10/check-your-answers">Check your answers (change rights)</a>,
                          <a href="user-journeys/CHS">CHS</a>,
                          <a href="user-journeys/Resolution/attach-a-special-resolution">Attach a special resolution</a>,
                          <a href="user-journeys/Article/attach-the-amended-articles-of-association">Attach the ammended articles of association</a>,

                        </li>
                      </ul>
                    </div>
                  </details>
                </td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--green">
                    Proof of Concept
                  </strong>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">
                  <a href="https://update-share-capital-v2.herokuapp.com/">Version 2</a>
                </th>
                <td class="govuk-table__cell">N/A</td>
                <td class="govuk-table__cell">
                  <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Changes included in version 2
                      </span>
                    </summary>
                    <div class="govuk-details__text">
                      <ul class="govuk-list--bulletlist">

                        <li>
                          Added the following pages
                          <a href="choose-a-currency">Choose a currency</a>,
                          <a href="paid-and-unpaid">What are the amounts paid and unpaid</a>

                        </li>
                      </ul>
                    </div>
                  </details>
                </td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--green">
                    Proof of Concept
                  </strong>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

{% endblock %}