{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  {% set overviewHtml %}
  {% endset -%}

  <form action="/more-tab-active-company" method="post">

    <h1 class="govuk-heading-l">JOHN LEWIS
    </h1>
    <p class="govuk-body">Company number 00233462</p>

    {{ govukButton({
  text: "Follow this company"
  }) }}

    {{ govukButton({
  text: "File for this company"
  }) }}

    {% set filingHistoryHtml %}

    {{ govukTable({
  head: [
    {
      text: "Date",
      classes: 'govuk-!-width-one-quarter'
    },
    {
      text: "Description",
      classes: 'govuk-!-width-one-half'
    },
    {
      html: "View/Download",
      classes: 'govuk-!-width-one-quarter'
    }
  ],
  rows: [
    [
      {
        text: "29 Apr 2019"
      },
      {
        text: " Confirmation statement made on 29 April 2019 with updates"
      },
      {
        html: "<a href='' class='govuk-link govuk-link--no-visited-state'>View PDF</a> (6 pages)"
      }
    ],
    [
      {
        text: "27 Apr 2019"
      },
      {
        text: "Compulsory strike-off action has been discontinued"
      },
      {
       html: "<a href='' class='govuk-link govuk-link--no-visited-state'>View PDF</a> (1 page)"
      }
    ],
    [
      {
        text: "26 Apr 2019"
      },
      {
        text: "Accounts for a dormant company made up to 31 July 2018"
      },
      {
         html: "<a href='' class='govuk-link govuk-link--no-visited-state'>View PDF </a> (2 pages) <a href='' class='govuk-link govuk-link--no-visited-state'>Download iXBRL</a>"
      }
    ],
    [
      {
        text: "19 Feb 2019"
      },
      {
        text: "First Gazette notice for compulsory strike-off"
      },
      {
         text: "Document unavailable"
      }
    ],
    [
      {
        text: "06 Dec 2017"
      },
      {
        text: "Confirmation statement made on 1 December 2017 with updates"
      },
      {
        html: "<a href='' class='govuk-link govuk-link--no-visited-state'>View PDF</a> (2 pages)"
      }
    ],
    [
      {
        text: "04 Dec 2017"
      },
      {
        html: "Termination of appointment of Secretary Ltd as a secretary on 4 December 2017"
      },
      {
        html: "<a href='/CHS-signin' class='govuk-link govuk-link--no-visited-state'>Request document</a>"

      }
    ],
    [
      {
        text: "04 Dec 2016"
      },
      {
        text: "Incorporation Statement of capital on 2015-07-24 GBP 1"
      },
      {
        html: "<a href='' class='govuk-link govuk-link--no-visited-state'>View PDF</a> (36 pages)"
      }
    ]
  ]
}) }}
    {% endset -%}

    {% set peopleHtml %}
    {% endset -%}

    {% set socHtml %}
    {% include "includes/statement-of-capital-css.html" %}
    <a class="button-link" href="/default-pages/start">Update the Share Capital</a>
    {% endset -%}

    {% set viewallHtml %}

    <h2 class="govuk-heading-l">
      Company snapshot</h2>

    {{ govukDetails({
  summaryText: "What's included in the company snapshot",
  html: "<p class='govuk-body'>The latest 100 entries for:</p>

  <ul class='govuk-list govuk-list--bullet'>
    <li>Filing history</li>
    <li>Officers</li>
    <li>Persons with significant control</li>
    <li>Charges</li>
    <li>Insolvency</li>
    <li>Registers</li>
  </ul>"
}) }}

    {{ govukButton({
  text: "View company information snapshot",
  classes: "govuk-button--secondary"
  }) }}

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-l">
      Order a certificate</h2>

    {{ govukDetails({
  summaryText: "What you'll need",
  html: "<p class='govuk-body'>To use the service, you'll need:</p>

  <ul class='govuk-list govuk-list--bullet'>
    <li>to choose the company information you want to be included on the certificate</li>
    <li> the address you want the certificate to be delivered to (UK or international)</li>
    <li>a credit or debit card for payment</li>
  </ul>"
}) }}

    {{ govukButton({
  text: "Order certificate",
  classes: "govuk-button--secondary"
  }) }}
    {% endset -%}

    {{ govukTabs({
  items: [
    {
      label: "Overview",
      id: "overview",
      panel: {
        html: overviewHtml
      }
    },
    {
      label: "Filing History",
      id: "filing-history",
      panel: {
        html: filingHistoryHtml
      }
    },
    {
      label: "People",
      id: "people",
      panel: {
        html: peopleHtml
      }
    },
    {
      label: "Share Capital",
      id: "soc",
      panel: {
        html: socHtml
      }
    },
    {
      label: "More",
      id: "view-all",
      panel: {
        html: viewallHtml
      }
    }
  ]
}) }}

  </form>

{% endblock %}